@charset "UTF-8";

/* @import url(job-vacancies.css); */

/*  =============   */
/*  Main settings   */
/*  =============   */



html {
	font-size: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333333;
	background-color: #666666;
	margin: 0px;
	text-align: center;
}
a {
	color: #330066;
}
a:hover {
	color: #CC0066;
}
#main {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFFFFF;
	text-align: left;
	padding-bottom: 0px;
}
#main-footer {
	background-image: url(../images/footer-bot-960.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 100%;
	clear: both;
}



/*  ============================   */
/*  LU top and bottom links area   */
/*  ============================   */



#main-toplinks .left, #main-botlinks .left {
	
	margin-right: 20px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
}
#main-toplinks p, #main-botlinks p {
	margin: 0px;
	padding: 0px;
}
#main-toplinks .right, #main-botlinks .right {
	
	margin-left: 20px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	float: right;
}
#main-toplinks .clear, #main-botlinks .clear {
	clear: both;
	height: 1px;
	width: 730px;
	margin: 0px;
	padding: 0px;
	font-size: 10%;
}
#main-toplinks a, #main-botlinks a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 100%;
}
#main-toplinks a:hover, #main-botlinks a:hover {
	text-decoration: underline;
}
#site-contact {
	clear: both;
	width: 920px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	margin-right: auto;
	margin-left: auto;
	font-size: 85%;
	text-align: center;
}



/*  =========   */
/*  LU header   */
/*  =========   */



#main-header {
	background-image: url(../images/header-top-960.gif);
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	padding-top: 20px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	background-color: #FFFFFF;
}
#main-header .leftbox {
	float: left;
	width: 400px;
	margin-top: 0px;
	margin-left: 20px;
	_margin-left: 10px;  /*  Windows hack   */
	font-size: 85%;
	_font-size: 80%;  /*  Windows hack   */
	color: #666666;
	margin-bottom: 15px;
	line-height: 120%;
}

#main-header .leftbox p {
	margin: 0;
}


#main-header .rightbox {
	float: right;
	width: 300px;
	margin-top: 2px;
	margin-right: 20px;
	_margin-right: 10px;  /*  Windows hack   */
	text-align: right;
	margin-bottom: 15px;
}
#main-header .rightbox img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}



/*  ==============   */
/*  LU header menu   */
/*  ==============   */



#main-header-menu {
	background-color: #DDDDDD;
	background-image: url(../images/tl-menu-bg2-hover.gif);
	background-repeat: repeat-x;
	background-position: left top;
	clear: both;
	width: 100%;
	_font-size: 90%;  /*  Windows hack   */
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	font-size: 95%;
}
#main-header-menu ul {
	padding-left: 0px;
	list-style-type: none;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
}
#main-header-menu ul li {
	display: inline;
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
#main-header-menu ul li a {
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	text-decoration: none;
	margin: 0px;
	color: #333333;
}
#main-header-menu ul li a:hover {
	background-color: #EEEEEE;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	background-image: url(../images/tl-menu-bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#main-header-menu ul li a:active {
	color: #000000;
	background-image: url(../images/default-bctbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #DDDDDD;
}
#main-header-menu .rightborder {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	background-repeat: no-repeat;
	background-position: right top;
}
#main-header-menu .rightborder:hover {
	background-image: none;
	background-image: url(../images/tl-menu-bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #EEEEEE;
}
#main-header-menu .rightborder:active {
	color: #000000;
	background-image: url(../images/default-bctbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #DDDDDD;
}
#main-toplinks, #main-botlinks {
	width: 920px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 9px;
	margin-left: auto;
	color: #999999;
	font-size: 85%;
	padding: 0px;
}
#main-breadcrumb {
	width: 100%;
	background-color: #DDDDDD;
	font-size: 85%;
	background-image: url(../images/default-bctbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BBBBBB;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}



/*  =============================   */
/*  LU title and breadcrumb trail   */
/*  =============================   */



#main-title h1 {
	color: #FFFFFF;
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 20px;
	font-size: 180%;
}

#main-breadcrumb {
	margin-bottom:10px;
}

#main-breadcrumb a {
	color: #000000;
	text-decoration: none;
}
#main-breadcrumb a:hover {
	text-decoration: underline;
}
#main-breadcrumb p {
	margin: 0px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 20px;
}



/*  ============   */
/*  LU main menu   */
/*  ============   */



#main-menu {
	float: left;
	width: 200px;
	padding: 0px;
	margin-top: 3.5em;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}
#main-menu ul {
	padding: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#main-menu ul li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#main-menu ul li a {
	font-size: 95%;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	display: block;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 20px;
	width: 180px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#main-menu ul li a:hover {
	background-color: #EEEEEE;
}
#main-menu ul li ul {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-top-style: none;
}
#main-menu ul li ul li a {
	font-size: 85%;
	_font-size: 80%;  /*  IE hack   */
	background-color: #EEEEEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: normal;
	padding-left: 30px;
	width: 170px;
	background-image: url(../images/submenu-bullet1.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
#main-menu ul li ul li a:hover {
	background-color: #DDDDDD;
	background-image: url(../images/submenu-bullet1b.gif);
}
#main-menu ul li ul li ul li a    {
	font-size: 85%;
	background-color: #EEEEEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: normal;
	padding-left: 40px;
	width: 160px;
	background-image: url(../images/submenu-bullet2.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
#main-menu lu li ul li ul {
	margin: 0px;
	padding: 0px;
}
#main-menu ul li ul li ul li a:hover {
	background-color: #DDDDDD;
	background-image: url(../images/submenu-bullet2b.gif);
}
.menunderline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#main-menu .selected {
	background-color: #DDDDDD;
}
#main-menu .selected:hover {
	background-color: #CCCCCC;
}
#main-menu .external {
	background-image: url(../images/external-link.gif);
	background-repeat: no-repeat;
	background-position: left center;
}




/*  ===============   */
/*  LU main content   */
/*  ===============   */




#main-content {
	float: left;
	width: 530px;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding: 0px;
}
#main-content-wide {
	float: left;
	width: 720px;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding: 0px;
}
#main-content h2, #main-content-wide h2 {
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0.5em;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 1.5em;

}
#main-content h3, #main-content-wide h3 {
	font-size: 130%;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-bottom: 2px;
}
 
#main-content h3 .light, #main-content-wide h3 .light {
	font-weight: normal;
	font-size: 95%;
}
#main-content h4, #main-content-wide h4 {
	font-size: 110%;
	color: #666666;
}
#main-content p, #main-content-wide p {
	line-height: 150%;
	margin-top: 1em;
	margin-bottom: 1em;
}
#main-content ul, #main-content-wide ul {
	padding-right: 20px;
}
#main-content li, #main-content-wide li {
	line-height: 150%;
}
#main-content .padleft, #main-content-wide .padleft {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	margin-left: 10px;
}
#main-content .padright, #main-content-wide .padright {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	margin-right: 10px;
}
.border {
	border: 1px solid #CCCCCC;
}
.bordertop {
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#main-content .iframemap {
	height: 300px;
	width: 549px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#main-content-wide .iframemap {
	height: 300px;
	width: 749px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}



/*  =====   */
/*  Misc.   */
/*  =====   */



.whitetxt {
	color: #FFFFFF;
}

#eng-menu img, #science-menu img, #ssh-menu img {
	border: 1px solid #CCCCCC;
}
.listbutton {
	color: #FFFFFF;
	background-color: #EEEEEE;
	padding: 2px;
	list-style-type: none;
	border: 1px solid #CCCCCC;
	width: 90%;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-weight: bold;
	text-align: center;
}

#main-rightbox {
	float: right;
	width: 150px;
	margin-top: 3.9em;
	margin-right: 0px;
	margin-bottom: 2em;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	font-size: 90%;
}
#main-rightbox p {
	line-height: 130%;
	margin-top: 0px;
}
#main-rightbox ul {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
#main-rightbox ul li {
	line-height: 140%;
}
#main-rightbox h3 {
	font-size: 120%;
	margin-top: 0px;
	margin-bottom: 10px;
}
#main-rightbox #courses {
	margin: 0px;
	padding: 0px;
}
#main-rightbox form .form1 {
	width: 95%;
}
#main-rightbox form .form2 {
	width: 50%;
}
#site-footer {
	font-size: 85%;
	width: 920px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	clear: both;
	text-align: center;
}
