ul#lcl_communities_list_home {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-left: 30px;
}

ul#lcl_communities_list_home li {
	list-style: none;
	margin-top: 5px;
}

#lcl_before_communities_list {
	margin-bottom: 0;
}

a:hover {
	/* color: #036; */
	color: #CC0066;
	text-decoration: none;
}

body {
	background-color: #fff;
}

.centralPane {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.navigationBar {
	/* border-right: 1px solid #bbb; */
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.sidebar {
	/* border-left: 1px solid #bbb; */
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.pageFooterBar {
	border-top: 1px solid #bbb;
}

.pageFootnote {
	padding: 0;
}

#lcl_welcomeMessage {
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	border-style: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #ddd;
}

#lcl_searchBox {
	margin-top: 10px;
	border: none;
	background-color: #fff;
	display: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #ddd;
}

#lcl_communitiesList {
	margin-top: 10px;
	border: none;
	background-color: #fff;
	padding: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #ddd;
}

.communitiesList li {
	list-style: none;
}

h3 {
	margin-bottom: 2px;
	margin-top: 2px;
	color: #CC0066;
}

.navigationBarSublabel {
	color: #CC0066;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
}

p.searchBoxLabel,
p.searchBoxLabelSmall {
	margin-left: 0;
	margin-right: 0;
}

input#tquery {
	width: 300px;
}

ul.lcl_linkList {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0;
	padding-left: 0;
}

ul.lcl_linkList li {
	margin-top: 5px;
	list-style: none;
}

h1,
h2 {
	color: #CC0066;
}

.submit,
.adminBar {
	float: right;
	background-color: #DDD;
	padding: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
}

p.loggedIn {
	position: fixed;
	right: 3px;
	top: 3px;
        background-color: #DDD;
        padding: 10px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
	opacity:0.8;
	filter:alpha(opacity=80);
        text-align: center;
}

.communityLogo,
.collectionLogo {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.communitiySearch {
	background-color: #DDD;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
	width: 450px;
}

.communitiySearchTerms {
}

.collectionListItem {
	margin-left: 20px;
}

.communityHomeCollections,
.communityHomeCommunities,
.collectionHomeHeader,
.communityHomeHeader {
	margin-left: 0;
	margin-right: 0;
}

.subscribe input {
	float: right;
}

.subscribe {
	background-color: #DDD;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
	width: 450px;
}

form {
	display: inline;
}

.adminBar form {
	display: block;
}

#tlocation {
	width: 400px;
}


ul.recentItems {
	list-style: none;
	margin-left: 10px;
	padding: 0;
}

ul.recentItems li {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
/** Patch LU Style for DSpace **/

body {
	background-color: #666;
}

#main-toplinks p {
	font-size: inherit;
	font-family: Arial, Helvetica, sans-serif;
}

#main-header,
#main-header-menu,
#main-breadcrumb {
	margin:0;
}

#main-breadcrumb,
#main,
#main-title,
#main-header,
#main-header-menu,
#main-botlinks,
#main-botlinks p,
#main-menu,
#main-menu ul,
#main-header div {
	font-size: inherit;
	font-family: Arial, Helvetica, sans-serif;
}

#main-botlinks p {
	font-size: 85%;
}

#main-breadcrumb p {
	font-size: 85%;
}

#main-breadcrumb p,
#main-title h1,
#main-header-menu a,
#main-header-menu a:link,
#main-header-menu a:hover,
#main-header-menu a:visited {
	font-family: Arial, Helvetica, sans-serif;
}

#main-title {
	background: #306 url(../images/ttlbg-site.jpg) no-repeat left top;
	border-bottom: 1px solid #CCC;
	width: 100%;
	margin: 0;
}

#site-footer {
	font-size: 85%;
	width: 960px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	clear: both;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center top;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #999999;
	background-image: url(../images/sitefooter-bg.png);
}

/* lu style navigation */
#mainmenu {
	margin-left: 0px;
	padding: 0;
	width: 150px;
	float:left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	background-color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 3.5em;
}

/* Hides from IE5-mac \*/
* html #main-menu {width: 174px;}
/* End hide from IE5-mac */

#mainmenu ul
{
	list-style: none;
	margin-left: 0;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#mainmenu li
{
	margin: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}

#mainmenu li a
{
	font-size: 85%;
	display: block;
	color: #333;
	text-decoration: none;
	_width: 100%;
	font-weight: bold;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 20px;
	background-color: #FFFFFF;
/*	font-weight: normal;*/
}

html>body #mainmenu li a { width: auto; }

#mainmenu li a:hover
{
	background-color: #EEEEEE;
	background-image: url(../images/active_bkgrd.gif);
	background-repeat: repeat-y;
	color: #CC0066;
}

#main #mainmenu li a.active {
	color: #CC0066;
	background-image: url(../images/active_bkgrd.gif);
	background-repeat: repeat-y;
	background-color: #FFFFFF;	
}

#mainmenu h3 {
	margin-top: 15px;
}

#closedAccessMessage {
        border-radius: 10px;
        font-size: 1.5em;
        color: #fff;
        background: #cccccc;
        background-image: url(../images/closed.png);
        background-position: 5px center;
        background-repeat:no-repeat;
        text-shadow: 1px 1px 1px #AAA;
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 35px;
        padding-right: 5px;
        margin-left: auto;
        margin-right: auto;
}

#closedAccessWrapper {
        text-align: center;
}

td[headers="t17"]{
	line-height: 300%;
	padding-bottom: 20px;
	padding-top: 5px;
}

#popUpFuzz {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-image:url(../images/blackOut.png);
	margin:0;
}

#popUpContent {
	position: fixed;
	top: 0;
	left:0;
	bottom:0;
	right:0;
	margin: auto;
	border-radius: 1em;
	padding: 1.5em;
	overflow: auto;
	width: 80%;
	height: 80%;
	background-color:#EEE;
}

#adminList {
	list-style-type: none;
	padding: 0;
}

#adminList li {
	padding-top: 0.5em;
	font-weight: bold;
	padding-bottom: 0.5em;
	cursor: pointer;
}

#assignToOptions {
	position: absolute;
	bottom: 0;
	text-align: right;
	right: 2em;
}

#assignToOptions a {
	cursor: pointer;
}

div.itemType {
	margin-left: 0;
	margin-bottom: 0.2em;
	font-size: 0.8em;
	font-weight: bolder;
}

td.metadataFieldValue {
  word-break: break-word;
}


span.submitted {
    font-size: 0.8em;
}

/* Replacement entries on taskpool */
tr.replacementEntry td.evenRowOddCol,
tr.replacementEntry td.evenRowEvenCol,
tr.replacementEntry td.oddRowOddCol,
tr.replacementEntry td.oddRowEvenCol {
    color: #AAA;
}

tr.replacementEntry:hover td.evenRowOddCol,
tr.replacementEntry:hover td.evenRowEvenCol,
tr.replacementEntry:hover td.oddRowOddCol,
tr.replacementEntry:hover td.oddRowEvenCol {
    color: #666;
}

button#showHideReplacementEntries {
    margin-top: 1.5em;
    display: block;
    float: right;
}

div.acceptanceIssued {
  margin-top: 0.3em;
  font-style: italic;
}
