/*#######维普网 通用样式 Cascading Style Sheet 2.0 2009-09-06 李晓明######*/
html{
scrollbar-shadow-color:#CFCFCF;
scrollbar-highlight-color:#CFCFCF;
scrollbar-3dlight-color:#fff;
scrollbar-darkshadow-color:#fff;
scrollbar-arrow-color:#444;
scrollbar-face-color:#EFEEEE;
scrollbar-track-color:#F8F8F9;
overflow-y:scroll;
}
* html,* html body{background-image:url(about:blank);_background-attachment:fixed} 
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0; margin:0;}
body{padding:0 0 30px 0;background:url("../images/bodybg.gif") repeat;_background-attachment: fixed;/* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/font-size:12px;font-family:'宋体';color:#262626;word-wrap:break-word;word-break:break-all;}
fieldset, img {border:0;vertical-align:middle;}
table {border-collapse: collapse; border-spacing: 0;}
ol, ul {list-style: none;}
address, caption, cite,em, strong, th {font-weight: normal; font-style: normal;}
th,td {text-align: left;}
i,b,strong,em{font-style:normal;}
input,select{vertical-align:middle;}

a{color:#006cb2;text-decoration:none;}
a:hover{color:red;text-decoration:underline;}
a:visited{text-decoration:none;}

.bread{display:block;font:12px/3em "宋体";vertical-align:middle;text-indent:10px;}
.bread a{}
.bread a:hover{text-decoration:underline;}
.pager{padding:5px;}
.pagenum{height:24px;margin:0 auto;}
.pagenum li{display:block;float:left;margin:0 5px 0 0;}
.pagenum .current{margin:0 5px;font:bold 14px/20px "Tahoma";color:#fc5000;}
.pagenum li a{display:block;padding:5px 7px;background:#f5f5f5;border:1px solid #9d9d9d;font:bold 12px/100% "Tahoma";color:#262626;}
.pagenum li a:hover{background:white;border:1px solid #fc5000;color:#fc5000;text-decoration:none;}

/*################新顶部功能条样式######################*/
#topbar{width:auto;height:100%;background:black url("../images/topbar_autobg.png") repeat-x bottom;color:#e7e7e7;position:relative;z-index:19;}
#topbar .icons_24{width:960px;height:19px;margin:auto;padding:5px 0 0 0;text-align:left;position:relative;}
#topbar a{color:white;}
#topbar a:hover{color:#ffa9a9;text-decoration:none;}
#topbar #mymenu{float:right;margin:1px 0 0 0;list-style-type:none;list-style-position:outside;position:relative;z-index:99;}
#topbar #mymenu li{float:left;height:19px;margin:0 0 0 10px;position:relative;}
#topbar #mymenu a{display:block;}
#topbar #mymenu ul {display:none;padding:1px;background:#444;border:1px solid #000;border-top:none;position:absolute;top:17px;}
#topbar #mymenu ul li{display:block;height:auto;margin:0;clear:left;}
#topbar #mymenu ul li a{display:block;padding:0 8px;width:55px;line-height:2em;text-align:center;color:#eee;}
#topbar #mymenu ul li a:hover{color:#fff;background:#646464;border:none;}
#topbar .oldversion{margin:0 40px 0 15px;}
.myvip{display:block;padding:0 0 1px 18px;background:url("../images/head_icon.gif") no-repeat left -30px;}
.treg{padding:0 0 0 20px;background:url("../images/head_icon.gif") no-repeat left 0px;}
.mail{padding:0 0 0 120px;background:url("../images/head_icon.gif") no-repeat 100px -60px;}
.cart{;padding:0 0 0 20px;background:url("../images/head_icon.gif") no-repeat 0 -89px}
.cent{padding:0 0 0 20px;background:url("../images/head_icon.gif") no-repeat 0 -121px;}
.srv{padding:0 0 0 20px;background:url("../images/head_icon.gif") no-repeat 0 -180px;}

/*################新版头部样式######################*/
.maintop{background:black url("none");}
.top{width:100%;height:130px;margin:0 0 10px 0;background:url("../images/topbg.png") repeat-x;border-top:1px solid #b62b00;border-bottom:1px solid #686868;font:12px "宋体";}
.head{width:960px;height:100px;margin:0 auto;}
.logo{float:left;}
.logo a{display:block;width:300px;height:100px;background:url("../images/logo.gif") no-repeat;text-indent:-9999px;}
.logo a:hover{background-position:0 -100px;}

.search{width:660px;height:100px;background:url("../images/searchbg.jpg");float:right;position:relative;z-index:12;}
.selects{display:block;position:absolute;left:41px;top:30px;}
.selects a:hover{text-decoration:none;}
.sname{display:block;width:95px;height:28px;padding:0 0 0 10px;font:14px/28px "宋体";text-align:left;color:#444;}
.slist{display:none;width:103px;background:white;border:1px solid #fbd4be;border-top:none;position:relative;z-index:99;}
.slist li{display:block;border-bottom:1px dotted #fbd4be;}
.slist li a{display:block;height:100%;padding:6px 10px;font:12px "宋体";color:#ec5200;}
.slist li a:hover{background:#fff7f3;color:#444;}
.searchbox{width:350px;padding:5px;background:none;border:none;font:14px "Tahoma";position:absolute;left:160px;top:30px;}
.searchgo{width:90px;height:28px;background:none;border:none;font:bold 14px/28px "Tahoma";color:white;cursor:pointer;position:absolute;top:30px;right:40px;}
.radios{width:320px;background:none;color:#ebebeb;position:absolute;top:64px;left:165px;}
.radios input{width:1em;height:1em;margin:0 5px 0 0;vertical-align:middle;}
.shelp{color:white;position:absolute;right:42px;bottom:21px;}
.shelp a{color:#fdd9ca;}
.shelp a:hover{text-decoration:none;color:#fff;}

.navi{clear:left;display:block;height:30px;position:relative;}
.navi li{display:block;float:left;height:30px;}
.navi .home{padding:0 15px 0 25px;background:url("../images/head_icon.gif") no-repeat 0px -143px;border-left:none;}
.navi .paycenter{padding:0 15px 0 25px;background:url("../images/icon_money.gif") no-repeat 8px 8px;}
.navi .suportcenter{padding:0 15px 0 25px;background:url("../images/icon_kefu.gif") no-repeat 8px 8px;}
.navi li a{display:block;float:left;height:30px;padding:0 8px;border-right:1px solid #aaa;border-left:1px solid #fdfdfd;line-height:30px;color:#262626;}
.navi li a:hover{background-color:#fff7f0;text-decoration:none;color:red;}
.newicon{display:block;width:21px;height:15px;background:url("../images/new.gif") no-repeat ;position:absolute;left:280px;bottom:25px;z-index:13;}

/*################简版头部样式-----备份
#topbar .icons_30{width:960px;height:24px;margin:0 auto 30px auto;padding:6px 0 0 0;background:url("../images/topbar_bg.png") no-repeat;text-align:left;position:relative;z-index:99}
#topbar .icons_30 .naver{color:#9a9a9a;position:absolute;left:0;top:35px;z-index:1}
#topbar .icons_30 .naver a{color:black;}
#topbar .icons_30 .naver a:hover{color:red;}
#topbar .icons_30 img{vertical-align:top;}

.sear{display:block;width:820px;height:35px;margin:0 auto;padding:0 0 10px 0;background: url("../images/head_search.gif") no-repeat;overflow:auto;position:relative;}
.sear .resech{height:30px;padding:0 40px 0 30px;background:none;border:none;font:12px/30px 'Tahoma';position:absolute;left:0;top:0;z-index:1}
.sear .resub{width:80px;height:30px;padding:0 5px;background:none;border:none;font:12px '宋体';color:#745800;cursor:pointer;position:absolute;right:220px;top:0;z-index:1}
#topbar .sear .hotkeys{position:absolute;right:15px;top:0;}
#topbar .sear .hotkeys a{color:#665900;}
#topbar .sear .hotkeys a:hover{color:black;}
.hotkeys{display:block;float:left;height:30px;padding:0 0 0 5px;line-height:30px;}
######################*/

/*################新简版头部样式######################*/
.simplehead{margin:0 0 15px 0;}
#topbar .icons_30{width:960px;height:40px;margin:0 auto;padding:20px 0;background:url("../images/topbar_bg.png") no-repeat bottom;text-align:left;position:relative;z-index:9;}
.naver{display:block;width:960px;margin:15px auto 0px auto;color:#9a9a9a;position:absolute;bottom:6px;left:0;}
.naver a{color:black;}
.naver a:hover{color:red;}
.sersbg{display:block;width:600px;height:24px;position:absolute;top:12px;left:60px;background:url("../images/sersbg.gif") no-repeat;overflow:hidden;}
.sput{float:left;width:400px;height:24px;padding:0 10px;background:none;;border:none;line-height:24px;}
.sbut{width:75px;height:24px;background:none;border:none;cursor:pointer;}

/*################评价、评分、信用样式######################*/

.point0,.point1,.point2,.point3,.point4,.point5{display:block;float:left;width:60px;}
.pointitle{float:left;}
.point0 a,.point1 a,.point2 a,.point3 a,.point4 a,.point5 a{display:block;height:12px;background:url("../images/pointsprite.png") no-repeat;text-indent:-9999px;}
.point0 a{background-position:0px 0px;}
.point1 a{background-position:0px -20px;}
.point2 a{background-position:0px -40px;}
.point3 a{background-position:0px -60px;}
.point4 a{background-position:0px -80px;}
.point5 a{background-position:0px -100px;}

.good_0,.good_1,.good_2,.bad_1,.bad_2{display:inline-block;width:10px;height:15px;background:url("../images/pointsprite.png") no-repeat;text-indent:-9999px;cursor:pointer;font:1px "Tahoma";}
.good_2{background-position:-280px -220px;}
.good_1{background-position:-280px -235px;}
.good_0{background-position:-280px -250px;}
.bad_1{background-position:-280px -265px;}
.bad_2{background-position:-280px -280px;}

.star0,.star1,.star2,.star3,.star4,.star5,.star6,.star7,.star8,.star9,.star10{display:block;float:left;width:100px;height:16px;background:url("../images/pointsprite.png") no-repeat -100px 0;text-indent:-9999px;}
.star0 {background-position:-100px -0px;}
.star1 {background-position:-100px -26px;}
.star2 {background-position:-100px -52px;}
.star3 {background-position:-100px -78px;}
.star4 {background-position:-100px -104px;}
.star5 {background-position:-100px -130px;}
.star6 {background-position:-100px -156px;}
.star7 {background-position:-100px -182px;}
.star8 {background-position:-100px -208px;}
.star9 {background-position:-100px -234px;}
.star10 {background-position:-100px -260px;}

.star_s0,.star_s1,.star_s2,.star_s3,.star_s4,.star_s5,.star_s6,.star_s7,.star_s8,.star_s9,.star_s10{display:inline-block;width:70px;height:14px;background:url("../images/pointsprite.png") no-repeat -220px 0;text-indent:-9999px;}
.star_s0 {background-position:-220px 0;}
.star_s1 {background-position:-220px -20px;}
.star_s2 {background-position:-220px -40px;}
.star_s3 {background-position:-220px -60px;}
.star_s4 {background-position:-220px -80px;}
.star_s5 {background-position:-220px -100px;}
.star_s6 {background-position:-220px -120px;}
.star_s7 {background-position:-220px -140px;}
.star_s8 {background-position:-220px -160px;}
.star_s9 {background-position:-220px -180px;}
.star_s10 {background-position:-220px -200px;}

/*################格式图标样式######################*/

.format{display:block;width:30px;height:30px;margin:0 auto;background:url("../images/formaticon.gif") no-repeat;text-indent:-9999px;}
.format_s{display:block;float:left;width:40px;height:11px;margin:3px 3px 0 0;background:url("../images/formaticon.gif") no-repeat;text-indent:-9999px;font:1px "Tahoma";}

/*文档类*/
.doc{background-position: 0 0;}
.pdf{background-position: -40px 0;}
.ppt{background-position: -80px 0;}
.xls{background-position: -120px 0;}
.txt{background-position: -160px 0;}
.wps{background-position: -200px 0;}
.rtf{background-position: -240px 0;}
.pps{background-position: -280px 0;}
.pot{background-position: -320px 0;}

/*图片类*/
.jpg{background-position: 0 -40px;}
.gif{background-position: -40px -40px;}
.png{background-position: -80px -40px;}
.psd{background-position: -120px -40px;}
.tif{background-position: -160px -40px;}

/*多媒体类*/
.swf{background-position: 0 -80px;}
.wma{background-position: -40px -80px;}
.mp3{background-position: -80px -80px;}
.rm{background-position: -120px -80px;}
.mpg{background-position: -160px -80px;}

/*其它类*/
.series{background-position: 0 -120px;}
.rar{background-position: -40px -120px;}
.zip{background-position: -80px -120px;}

/*文档类(小)*/
.doc_s{background-position: 0 -195px;}
.pdf_s{background-position: -40px -195px;}
.ppt_s{background-position: -80px -195px;}
.xls_s{background-position: -120px -195px;}
.txt_s{background-position: -160px -195px;}
.wps_s{background-position: -200px -195px;}
.rtf_s{background-position: -240px -195px;}
.pps_s{background-position: -280px -195px;}
.pot_s{background-position: -320px -195px;}

/*图片类(小)*/
.jpg_s{background-position: 0 -210px;}
.gif_s{background-position: -40px -210px;}
.png_s{background-position: -80px -210px;}
.psd_s{background-position: -120px -210px;}
.tif_s{background-position: -160px -210px;}

/*多媒体类(小)*/
.swf_s{background-position: 0 -225px;}
.wma_s{background-position: -40px -225px;}
.mp3_s{background-position: -80px -225px;}
.rm_s{background-position: -120px -225px;}
.mpg_s{background-position: -160px -225px;}

/*其它类(小)*/
.series_s{background-position: 0 -180px;}
.rar_s{background-position: -40px -180px;}
.zip_s{background-position: -80px -180px;}

/*################充值方式样式######################*/
.pay{display:block;float:left;width:85px;height:40px;margin:0 5px 0 0;background:url("../images/payment_new.png") no-repeat;text-indent:-9999px;}
.beijing{background-position:0 0;}
.alipay{background-position:-100px 0;}
.visa{background-position:-200px 0;}
.paypal{background-position:-300px 0;}
.mobile{background-position:-400px 0;}
.unicom{background-position:-500px 0;}
.telecom{background-position:-600px 0;}
.chinapnr{background-position:-700px 0;}
.easyown{background-position:-800px 0;}
.vipcard{background-position:0 -50px;}
.post{background-position:-100px -50px;}
.wht{background-position:-200px -50px;}
.yeepay{background-position:-300px -50px;}
.tenpay{background-position:-400px -50px;}
.chinapay{background-position:-500px -50px;}
.phonepay{background-position:-600px -50px;}


/*################Loading进度条样式######################*/
.loading{width:270px;height:140px;background:url("../images/loadingbg.gif") no-repeat;position:absolute;left:0;top:0;z-index:999;}
.txt{display:block;color:#2f4654;}
.txt table{margin:40px auto;}
.txt th{width:40px;height:34px;background:url("../images/loading.gif") no-repeat;text-align:center;}
.txt strong{font:bold 12px "Tahoma";}
.txt .en{font:bold 9px "Tahoma";color:#959595;}

/*通用表单元素样式*/
.layout_980{width:980px;margin:0 auto;margin-left:44px;background:white;}
.pagetitle{height:50px;padding:5px 10px;background:#fff;border:1px solid #444;border-left:12px solid #444;position:relative;z-index:1;}
.pagetitle b{display:block;position:absolute;top:0;right:-1px;z-index:1;}

.pagetitle b img{display:block;text-align:right;} 
.pagetitle em{margin:0 3px;padding:1px 0 1px 20px;color:#a8a8a8;}
.author{display:block;height:21px;line-height:21px;}

.certstep {height:22px;margin:0 0 15px 0;overflow:auto;}
.certstep li{display:block;float:left;height:15px;margin:0 4px 0 0;padding:2px 5px 2px 15px;background:#f7f7f7 url("../images/sprite_symbol.gif") no-repeat 0 -465px;border:1px solid #acacac;font:12px/15px "宋体";color:#999;}
.certstep .current{background:#fdfaf4 url("../images/sprite_symbol.gif") no-repeat 0 -486px;border:1px solid #fc5000;color:#fc5000;font:bold 12px/15px "宋体";}
.certstep .name{background:#f6f6f6 url("../images/sprite_symbol.gif") no-repeat 0 -465px;border:1px solid #888;color:#444;}

.fillbox {display:inline-block;padding:0;border:1px solid #777;}
.fillbox input{display:block;height:16px;padding:3px;border:none;background:#f9f9f9;border-left:1px solid #cdcdcd;border-top:1px solid #cdcdcd;border-bottom:1px solid #fff;font:14px/16px "Tahoma";}
.w50{width:50px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}

.btn{display:inline-block;height:38px;margin:10px auto;padding:0 0 0 37px;background:url("../images/sprite_btn.png") no-repeat;border:none;font:14px/40px "宋体";text-align:left;color:#333;cursor:pointer;}
.btn:hover{color:red;text-decoration:none;}
.b240{width:240px;}
.b200{width:200px;background-position:0 -45px;}
.b150{width:150px;background-position:0 -90px;}
.b120{width:120px;background-position:0 -135px;}
.b100{width:100px;background-position:0 -180px;}
.bregi{width:158px; height:48px;margin:11px 0 0 0;background-position:0 -250px;color:#ec3301;}
.bsign{width:100px;margin:9px 0 0 0;background-position:0 -180px;}

.btn_s{display:inline-block;background:url("../images/sprite_btn.png") no-repeat;border:none;font:12px "宋体";text-align:center;vertical-align:middle;cursor:pointer;}
.bred,.bgray{width:110px;height:26px;line-height:26px;}
.bred{background-position:0 -410px;color:#fc3000;}
.bgray{background-position:0 -440px;}
.bmini{width:80px;height:22px;padding:0 0 0 5px;background-position:0 -470px;line-height:22px;}

.replenish{width:155px;height:38px;background:url("../images/sprite_btn.png") no-repeat 0 -310px;border:none;cursor:pointer;}
.sendmsg{width:185px;height:38px;background:url("../images/sprite_btn.png") no-repeat 0 -360px;border:none;cursor:pointer;}
.done{display:block;padding:10px; text-align:center;}

#regform{width:980px;margin:0 auto;background:white;}
#sucess{display:block;padding:3px 3px 3px 50px;background:#fbfff0 url("../images/sprite_symbol.gif") no-repeat 15px 3px;border:1px solid #8ebc00;border-left:8px solid #8ebc00;font:bold 14px/2em "Tahoma";}
#attention{display:block;padding:3px 3px 3px 50px;background:#fff8f3 url("../images/sprite_symbol.gif") no-repeat 15px -628px;border:1px solid #f37122;border-left:8px solid #fe7d00;font:bold 14px/2em "Tahoma";color:#fc5000;}
#wrong{display:block;padding:3px 3px 3px 50px;background:#fff3f3 url("../images/sprite_symbol.gif") no-repeat 15px -96px;border:1px solid #f32222;border-left:8px solid #fe0000;font:bold 14px/2em "Tahoma";color:red;}

.attention{display:block;height:26px;padding:0 0 0 20px;background:url("../images/sprite_symbol.gif") no-repeat 0 -245px;font:12px/26px "宋体";color:#444;}
.wrong{display:block;height:26px;padding:0 0 0 20px;background:url("../images/sprite_symbol.gif") no-repeat 0 -290px;font:12px/26px "宋体";color:#f22b00;}
.right{width:30px;height:30px;background:url("../images/sprite_symbol.gif") no-repeat 5px -200px;}
.ding{display:block;height:22px;padding:0 0 0 25px;background:#fdfcef url("../images/sprite_symbol.gif") no-repeat 5px -380px;border:1px solid #f9c54c;font:12px/22px "宋体";}
.ok{display:block;height:22px;padding:0 0 0 30px;background:#fbffe2 url("../images/sprite_symbol.gif") no-repeat 5px -200px;border:1px solid #b1ce4e;font:12px/22px "宋体";}
.explain{display:block;margin:5px 0;padding:5px;background:#fff7e0;border:1px solid #fedbbe;line-height:2em;}
.brabra{display:block;height:20px;padding:0 0 0 25px;background:url("../images/news.gif") no-repeat 2px;line-height:20px;}
.phone{display:block;height:24px;margin:10px 0;padding:0 0 0 18px;background:#f3fbff; /*url("../images/downsprite.gif") no-repeat 5px -58px;*/border:1px solid #98cdff;font:14px/24px 'Tahoma';color:black}
.alipay_s{display:block;height:24px;padding:0 0 0 30px;background:#fffde2 url("../images/downsprite.gif") no-repeat 5px -780px;border:1px solid #ffc822;font:12px/24px "宋体";color:#444;}


.note{display:block;margin:5px 0;padding:10px;background:white;border:1px solid #ccc;line-height:2.4em;overflow:auto;}
.note li{list-style:inside disc;}


.pop{display:block;position:absolute;z-index:111;}
.pop .upline,.pop .ftline{background:url("../images/pop.gif") no-repeat;}
.pop .upline{display:block;height:9px;font-size:1px;overflow:hidden;}
.pop .mdline{display:block;height:100%;padding:0px 15px 0px 15px;background:#f8f8f8;border-left:1px solid #222;border-right:1px solid #222;line-height:1.8em;word-wrap:break-word;overflow:auto;}
.pop .ftline{display:block;height:6px;font-size:1px;overflow:hidden;}
.pop .x{display:block;width:17px;height:17px;background:url("../images/close_red.gif") no-repeat 0 0;position:absolute;top:13px;right:5px;cursor:pointer;}

.pop_over{display:block;position:absolute;z-index:111;}
.pop_over .upline,.pop_over .ftline{background:url("../images/pop_over.gif") no-repeat;}
.pop_over .upline{display:block;height:6px;font-size:1px;overflow:hidden;}
.pop_over .mdline{display:block;height:100%;padding:0px 5px;background:#f8f8f8;border-left:1px solid #222;border-right:1px solid #222;line-height:1.6em;word-wrap:break-word;overflow:auto;}
.pop_over .ftline{display:block;height:10px;font-size:1px;overflow:hidden;}
.pop_over .x{display:block;width:10px;height:10px;background:url("../images/close_red.gif") no-repeat 0 -90px;position:absolute;top:3px;right:5px;cursor:pointer;}

.p300{width:300px;}
.p300 .upline{background-position:0 0;}
.p300 .ftline{background-position:0 -10px}

.p200{width:200px;}
.p200 .upline{background-position:0 -20px;}
.p200 .ftline{background-position:0 -30px}

.p100{width:100px;}
.p100 .upline{background-position:0 -40px;}
.p100 .ftline{background-position:0 -50px}

.uncert{display:inline-block;width:19px;height:15px;background:url("../images/sprite_symbol.gif") no-repeat 0 -445px;text-indent:-9999px;cursor:pointer;}
.cert{display:inline-block;width:19px;height:15px;background:url("../images/sprite_symbol.gif") no-repeat 0 -425px;text-indent:-9999px;cursor:pointer;}
.vcert{display:inline-block;width:17px;height:18px;background:url("../images/sprite_symbol.gif") no-repeat 0 -560px;text-indent:-9999px;cursor:pointer;}

.sale{margin:10px 0;}
.sale td{border:none;}
.sale i{display:block;font:12px/2em "Tahoma";}
.sale .buy{display:block;float:right;height:46px;padding:7px 10px;background:url("../images/detail_btn.gif") no-repeat;position:relative;}
.qa{display:block;width:45px;line-height:1.4em;color:#888;position:absolute;right:12px;top:12px;}
.sale .qa:hover{color:#fc5000;text-decoration:none;}
.sale .buy2bt{width:310px;background-position: 0 -220px;}
.sale .buy3bt{width:430px;background-position: 0 -150px;}
.download,.download_ipub,.tocart,.read,.freedown{display:block;float:left;width:120px;height:40px;margin:0 5px 0 auto;background:url("../images/detail_btn_2012.png") no-repeat;border:none;text-indent:-9999px;cursor:pointer;}
.download{background-position:0px 0px;}
.read{background-position:0px -40px;}
.tocart{background-position:0px -80px;}
.download_ipub{background-position:0 0;}
.freedown{background-position:0 -40px;}
.cars,.fav{display:block;float:left;width:28px;height:28px;margin:0 5px 0 0;background:url("../images/detail_lib_btn.gif") no-repeat;text-indent:-999px;}
.cars{background-position:0 0;}
.fav{background-position:-28px 0;}



.simple{display:block;height:16px;font:12px "宋体";text-align:right;position:absolute;right:5px;top:2px;}
.simple a{display:block;float:left;width:16px;height:16px;margin:0 0 0 5px;background:url("../images/icon_simple.gif") no-repeat;text-indent:-9999px;}
.simple .readit{background-position:0 0;}
.simple .downit{background-position:0 -20px;}
.simple .favit{background-position:0 -40px;}
.core{display:inline-block;width:13px;height:13px;background:url("../images/mag_nav.gif") no-repeat -380px -80px;text-indent:-9999px;}

/*################字体样式######################*/
.red{color:#ff3000;}
.blue{color:#0075c0;}
.green{color:#6e9200;}
.gray{color:#666;}
.black{color:#252525;}
.white{color:white;}
.bold{font-weight:bold;}
.normal{font-weight:normal;}
.f24{font-size:24px;}
.f22{font-size:22px;}
.f20{font-size:20px;}
.f18{font-size:18px;}
.f16{font-size:16px;}
.f14{font-size:14px;}
.f13{font-size:13px;}
.f12{font-size:12px;}
.f11{font-size:11px;}
.f10{font-size:10px;}
.f9{font-size:9px;}
.f8{font-size:8px;}
.tahoma{font-family:"Tahoma";}
.song{font-family:"宋体";}
.heiti{font-family:"黑体";}
.yahei{font-family:"微软雅黑";}
.verdana{font-family:"Verdana";}
.a_left{text-align:left;}
.a_right{text-align:right;}
.a_center{text-align:center;}
.block{display:block;}
.float_left{float:left;}
.float_right{float:right;}
.dec_none{text-decoration:none;}
.dec_line{text-decoration:underline;}

/*LightBox样式*/
.lightbox{display:none;z-index:999;}
.lightbox .mask{width:100%;height:100%;background:#000;position:absolute;top:0;left:0;z-index:90;}
.close{display:block;width:17px;height:17px;background:url("../images/sprite_symbol.gif") no-repeat 0 -160px;text-indent:-9999px;position:absolute;right:5px;top:5px;cursor:pointer;}

.lightlogin{width:340px;height:250px;margin:0 auto;padding:50px 65px 10px 70px; background:url("../images/lightlogin.png") no-repeat;position:relative;z-index:99;}
.lightlogin table{width:100%;margin:20px 0 20px 0;}
.lightlogin th,.login td{font:12px/30px "Tahoma";vertical-align:middle;}
.lightlogin th{width:70px;font:bold 12px/30px "Tahoma";color:#444;}
.lightlogin a{font:12px "Tahoma"}
.lightlogin .at{font:12px/2.4em "Tahoma";color:#a1a1a1;}

.certbox{width:700px;padding:20px 50px;background:white;border:4px solid #767676;top:200px;}
.certbox li{list-style:inside circle;margin:10px 0 0 0;color:#808080;}
.certbox .closetext{display:block;width:80px;margin:10px auto 0 auto;text-align:center;cursor:pointer;}

.sendmail{width:500px;margin:0 auto;padding:10px;background:#f5f9fc;border:2px solid #325470;position:relative;}
.sendmail th,.sendmail td{padding:5px;}
.sendmail th{text-align:right;}
.sendmail textarea{width:400px;height:150px;padding:10px;border:1px solid #929292;font:12px "Tahoma";}

.commentbox{width:600px;padding:10px;background:white;border:3px solid #325470;}
.commentbox .cotitle{display:block;padding:10px 0;text-align:left;}
.commentbox .points {margin:15px 0;}
.commentbox .points li{display:block;padding:5px 0;}
.commentbox .points input{vertical-align:middle;}
.userlog{display:block;text-align:left;}
.userlog input{width:100px;padding:1px 3px;background:#eee;border:1px solid #ccc;}
.vot{width:100%;}
.vot .chus{width:30px;text-align:center;}
.vot th{width:250px;cursor:pointer;}
.vot .vo{width:220px;}
.vot .vob{display:block;height:12px;width:200px;background:url("../images/vote.png");}
.vot .vo1{display:block;height:12px;width:120px;background:url("../images/vote.png") 0 -20px;}
.vot .vo2{display:block;height:12px;width:26px;background:url("../images/vote.png") 0 -40px;}
.vot .vo3{display:block;height:12px;width:48px;background:url("../images/vote.png") 0 -60px;}
.vot .vo4{display:block;height:12px;width:6px;background:url("../images/vote.png") 0 -80px;}
.comtext{width:580px;height:100px;padding:5px;border:1px solid #929292;}
.sendcom{width:100%;margin:10px 0 0 0;}
.sendcom img{margin:0 0 0 5px;vertical-align:top;}
.sendcom td{text-align:right;}
.sendcom .subcode{display:block;margin:0 0 5px 0;}

/*温馨提示单元*/
.alert{width:500px;padding:0 0 10px 0;background:white url("../images/lightbox_alert.png") no-repeat;border:1px solid black;overflow:auto;}
.alert_intro{display:block;padding:0 15px;margin:20px 0 0 0;line-height:2em;overflow:auto;}
.alert input{vertical-align:middle;}
.alert .mi{display:block;line-height:2em;}
.update li{list-style:inside square;line-height:2.2em;}

.codead{width:400px;padding:10px;background:white;border:2px solid black;overflow:auto;}
.pos{width:300px;padding:15px;background:#fffaed;border:3px solid #a97f68;line-height:2.2em;position:absolute;left:700px;top:420px;z-index:99;}
.downlink{width:500px;padding:0 0 10px 0;background:white url("../images/lightbox_downlink.png") no-repeat;border:1px solid black;overflow:auto;}

/*################底部样式######################*/
#foot{width:960px;margin:0 auto;padding:10px 0 0 0;clear:left;overflow:auto;position:relative;}
#foot .caps{display:block;float:left;width:50px;height:85px;margin:5px 25px 0 0;}
#foot ul {width: 790px;margin: 0px 0px 0px 110px;font: 12px/1.8em "Tahoma";}
#foot span a{color:black;}
#foot span a:hover{color:red;text-decoration:underline;}
#foot img{vertical-align:middle;}

/*################快捷工具栏样式######################*/
.masa{width:100%;height:46px;_height:48px;background:#dbdfea;border-top:1px solid #c1c2c6;border-bottom:1px solid #c1c2c6;position:fixed;z-index:1000;left:0px;bottom:0px;_position: absolute;
_top: expression(documentElement . scrollTop +   documentElement .clientHeight-this . offsetHeight);}
.maso{width:100%;height:45px;border-top:1px solid white;border-bottom:1px solid white;position:fixed;z-index:1000;left:0px;bottom:0px;_position: absolute;
_top: expression(documentElement . scrollTop +   documentElement .clientHeight-this . offsetHeight);}
.mas{display:block;width:960px;height:45px;margin:0 auto;}
.mas table{width:100%;}
.mas1{width:40%;padding:5px 10px;background:url("../images/masa_line.gif") no-repeat right 6px;}
.mas1 strong{display:block;padding:3px 0 4px 0;color:red;}
.mas1 em{display:block;}
.mas1 a:hover{color:black;text-decoration:none;}
.mas2 {width:40%;height:100%;padding:0 20px;background:url("../images/masa_line.gif") no-repeat right  6px;}
.mas2 i{display:block;padding:3px 0 1px 0;}
.mas2 .key{height:14px;padding:2px;background:white;border:1px solid #000;font:12px 'Tahoma';}
.mas2 .seb{height:20px;border:1px solid #000;border-left:none;font:12px '宋体';cursor:pointer;}
.mas3{width:20%;padding:0 10px;}
.maclose{display:block;padding:0 0 0 12px;background:url("../images/searchsprite.gif") no-repeat 0 -202px;line-height:14px;color:#666;position:absolute;right:5px;bottom:25px;}
.maclose:hover{text-decoration:none;color:#000;}
.slidbar{display:none;height:24px;background:url("../images/research_topbar_bg.png") repeat-x;border:1px solid black;border-top:none;}
.slidimg{display:block;height:24px;width:960px;margin:0 auto;background:url("../images/research_topbar.png") no-repeat;}
.slidbar_active{display:none;height:24px;background:#c60000;border:1px solid black;border-top:none;}
.slidimg_active{display:block;height:24px;width:960px;margin:0 auto;background:url("../images/active_topbar.png") no-repeat;}

.icon_service{width:40px;position:fixed; right:10px;top:300px;_position: absolute;_top: expression(documentElement . scrollTop +  300 + "px");}
.icon_service img{display:block;margin:0 auto 5px auto;text-align:right;cursor:pointer;}

.floatbar{position:fixed;left:50%;top:195px;margin-left:492px;width:78px;height:335px;background:url('../images/icon_floatbar.png');_position: absolute;
_top: expression(documentElement . scrollTop +   95);}

.floatbar_ad{position:fixed;left:50%;top:445px;margin-left:490px;width:78px;height:335px;background:url('../images/icon_floatbar.png');_position: absolute;
_top: expression(documentElement . scrollTop +   345);}

.floatbar_sci{position:fixed;left:50%;top:195px;margin-left:492px;width:78px;height:335px;background:url('../images/icon_floatbar_sci.png');_position: absolute;
_top: expression(documentElement . scrollTop +   95);}