body {
  background: #CCCCCC;
}

/******End Global Styles*******/

/********MainContainer Style*********/
#main-container {
  background: #ffffff;   
}


 /********Header Styles*********/
.wk-main-header {
  background-color: #a8a9ad;
  border-bottom: 2px solid #FFFFFF;
}

    .wk-main-header .header-left .logo-main {
        background-image: url("https://journals.lww.com/behaviouralpharm/PublishingImages/logos/bg-header-small.png");
    }

@media (min-width: 992px) {
    .wk-main-header .header-right .logo-secondary {
        /*custom logo for desktops*/
        background-image: url('https://cdn.wolterskluwer.io/wk-logos/1.0.x/wk-brand-white.svg');
    }
}

.wk-main-header .user-info-dropdown {
   background-color: #a8a9ad;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 992px) {
    /* Retina-displays and full-width desktops have big logo */
    .wk-main-header .header-left .logo-main {
        background-image: url("https://journals.lww.com/behaviouralpharm/PublishingImages/logos/bg-header.png");
    }
}

@media (min-width: 992px) {  
.wk-main-header .user-info > ul > li > a, .wk-main-header .user-info-dropdown a {
    border-right: 1px solid #ffffff;
    color: #ffffff !important;
  }

.wk-main-header .user-info > ul > li > a:hover {
    background-color: transparent; 
  }
  
  .wk-main-header .user-info > ul > li:last-child > a {
    border-right: none;
  } 
   
}

/********End Header Styles*********/

/********footer styles*********/
#main-container #main-footer {
  background-color: #be241b;
  color: #ffffff;
}

#main-container #main-nav-container #main-footer {
  background-color: #be241b;
  color: #ffffff;
}

#main-footer .footer-social li a i{
	color: #ffffff;
}

/********End footer styles*********/

 /*********NavBar Styles************/
 #main-container #main-nav-container {
  background-color: #be241b; 
}

#main-container #main-nav-container .navbar-nav > li {
  border-right: 1px solid #ffffff;
}

#main-container #main-nav-container .navbar-nav > li a {
  color: #FFFFFF;
}

#main-container #main-nav-container .navbar-nav > li ul {
  background-color: #be241b;
}

#main-container #main-nav-container .navbar-nav > li ul > li > a {
  color: #FFFFFF;
}

@media (min-width: 992px) {
  .main-nav-hover-overlay-hover {
    display: block;
    background-color: #910800;
  }
}

.ms-core-listMenu-selected:link,
.ms-core-listMenu-selected:visited,
.ms-core-listMenu-selected {  
  background-color: #910800; 
}

 nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li {    
    background-image: -webkit-linear-gradient(top, transparent 50%, #910800 50%, #910800 95%, #910800 95%);
    background-image: linear-gradient(to bottom, transparent 50%, #910800 50%, #910800 95%, #910800 95%);    
}

nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li:hover
{
	background-color: #910800;
}

nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li:hover > a > i.fa
{
	color: #FFFFFF;
}

 nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li.open > a {
    background-color: #910800 !important;
    color: #FFFFFF;
  }
/**************** Menu Styles start*****************/

nav#main-nav div#navActionButtons {  
               background-color: #be241b;
  border-bottom: 1px solid #be241b; 
}


nav#main-nav div#navActionButtons > a {  
                color: #FFFFFF;
                border-right: 1px solid #ffffff !important; 
}

nav#main-nav div#navActionButtons > a:last-child 
{ 
               border-right: none !important;
}

nav#main-nav div[id$="TopNavigationMenu"] {
  background-color: #be241b;
  flex: 2 0 100%;
  order: 3;
}

nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] > li > a > i.fa:before {
  content: "\f078";
  margin-left: 0.5rem;
}

nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .open > a > i.fa:before {
  content: "\f077";
  margin-left: 0.5rem;
}

nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] > li > a {
  color: #FFFFFF;
  font-weight: bold;
}

nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] > li.active > a {
  background-color: transparent !important;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  nav#main-nav div[id$="TopNavigationMenu"] {
    padding-bottom: 1rem;
  }
  nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .dropdown > a > i {
    position: relative;
    margin-top: -0.9rem;
    float: right;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
  }
  nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .dropdown ul {
    background-color: #be241b;
    padding-top: 0;
    border-radius: 0;
  }
  nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .dropdown ul li {
    background-color: #be241b;
  }
  nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .dropdown ul li a {
    color: #FFFFFF;
  }
  nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .dropdown, nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .open > a {
    background-color: #be241b;
  }
  nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .dropdown > i, nav#main-nav div[id$="TopNavigationMenu"] > ul[id$="RootAspMenu"] .open > a > i {
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  nav#main-nav div[id$="TopNavigationMenu"] {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  nav#main-nav div[id$="TopNavigationMenu"] {
    width: 32.0rem;
    position: absolute;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 0) {
  nav#main-nav div[id$="TopNavigationMenu"] {
    order: 3;
  }
}

@media (min-width: 1200px) {
  nav#main-nav div[id$="TopNavigationMenu"] {
    padding-bottom: 0;
    background-color: transparent;
    position: static;
    margin: 0;
    order: 1;
    flex:2;
    width: auto;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li {
    border-right: 1px solid #ffffff;
    background-image: linear-gradient(to bottom, transparent 50%, #be241b 50%, #be241b 95%, #be241b 95%);
    background-size: 100% 200%;
    background-position: top center;
    outline: none;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li:hover {
    background-position: bottom center;
    background-color: #910800;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li:hover > a {
    color: #FFFFFF;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li:hover > a > i.fa {
    color: #FFFFFF;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li > a {
    color: #be241b;
    font-weight: normal;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li.active > a {
    background-color: transparent !important;
    color: #FFFFFF;
    font-weight: bold;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li.active > a:hover {
    color: #910800;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li.open > a {
    background-color: #be241b !important;
    color: #FFFFFF;
  }
}


  nav#main-nav div[id$="TopNavigationMenu"] {
    background-color: transparent;
    position: static;
    margin: 0;
    width: auto;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li {
    border-right: 1px solid #ffffff;
    background-image: linear-gradient(to bottom, transparent 50%, #be241b 50%, #be241b 95%, #be241b 95%);
    background-size: 100% 200%;
    background-position: top center;
    outline: none;
  }
nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li a:hover {
    background-position: bottom center;
    background-color: #910800;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li :hover > a {
    color: #FFFFFF;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li > a > i.fa:hover {
    background-color: transparent;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li > a {
    color: #FFFFFF;
    font-weight: normal;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li.active > a {
    background-color: transparent !important;
    color: #FFFFFF;
    font-weight: bold;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li.active > a :hover {
    color: #910800 !important;
  }
  nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li.open > a {
    background-color: #be241b;
    color: #FFFFFF;
  }


@media (min-width: 992px) {
  .main-nav-hover-overlay {    
    border-top: 1px solid #ffffff;
  }
   .main-nav-hover-overlay-hover {
    background-color: #910800;
  }
}

.ms-core-listMenu-selected:link,
.ms-core-listMenu-selected:visited,
.ms-core-listMenu-selected {
  /* [ReplaceColor(themeColor:"NavigationSelectedBackground",opacity:"1")] */
  background-color: #910800 !important;
  /* [ReplaceColor(themeColor:"NavigationSelectedBackground")] */
  background-color: #910800 !important;
}

nav#main-nav div[id$="TopNavigationMenu"] ul[id$="RootAspMenu"] > li.open > ul  > li a:hover {
    background-color: #910800; /*nav - background color* - exclude submenu hover color*/
  }


/********* Menu Styles end ************/


/*********SearchBar Styles************/
#main-container #main-nav-container .search {
  
}

#main-container #main-nav-container .search .input-group input[type=text] {
  background-color: transparent;
  border-color: #bababa;
}

#main-container #main-nav-container .search .input-group button {
  background-color: #d9726b;
  color: #ffffff;
  border-color: #bababa;
}

#main-container #main-nav-container .search .advance-search a {
  color: #FFFFFF;
}

/*********SearchBar Styles************/



 /*******End NavBar Styles********/
 
 /**********Webpart Styles*****************/  


#main-container .content-box > header h2 {
  color: #ffffff;
  padding: 0.7rem 1rem 0.7rem 0.1rem;  
  background-color: #6a6a6a;
}

.fa-rss-square{
	color: #ffffff;	
}

@media (min-width: 992px) {
	#main-container .content-box > header h2 {
	  color: #ffffff;
	  padding: 0.7rem 1rem 0.7rem 0.2rem;  
	  background-color: #6a6a6a;
	}
}

#main-container .content-box > header h2 i.fa-plus {
  font-size: 1.4rem;
  color: #ffffff;
}

#main-container .content-box .content-box-body-list ul > li:before {
  color: #be241b;
}























#wpMagazineArtcleNav .magzine-tabs > li > a{
	background-color: #eaeaeb !important; /*will vary journal to journal */
}

#wpMagazineArtcleNav .magzine-tabs > li.active > a{
	background-color: #be241b !important;
	color: white !important;
}

#main-container .webpart-title {
  color: #ffffff;
}

.theme-title{
	color: #ffffff;
}

.theme-color{
	background-color: #be241b;
}

.theme-color:hover{
	background-color: #be241b;
}
.theme-font-color	{
	color: #be241b;
}

nav#main-nav div.navbar-header > button .icon-bar{
    background-color: #FFFFFF !important; 
}

.wpVideoGallery .vgTab.vgActiveTab,
.wpVideoGallery .vgTab:hover{
  background-color: #be241b;
  color: #FFFFFF;
}

.wpVideoGallery .vgIcon.vgIconActive,
.wpVideoGallery .vgIcon:hover
{
  background-color: #be241b;
  color: #FFFFFF;
}

.wk__video-gallery__pager>li>a:hover,
.wk__video-gallery__pager>li.active>a,
.wk__video-gallery__pager>li.active>a:hover,
.wk__video-gallery__pager>li.active>a:focus,
.wk__video-gallery__pager>li.active>a:visited
{
    color: #FFFFFF;
    background-color: #be241b;
    border: 1px solid #be241b;
}

/**********End Webpart Styles*****************/
/*************Global Input Colors******************/
#forgotpwd-input input[type=submit],
#wpLoginBox #login-box #login-actions > .btn-login,
#advancedSearch .buttonsDiv > input[type=submit],
#wpSearchResults .searchMain .searchFacets .filtersMain .ulfilters .savedSearchClass .searchButtonCenter > input,
#wpHealthJobPlus button[aria-controls="jobSearchForm"],
.ej-feedback-btns input[type=submit],
#ej-box-search-similar input[type=submit],
.primary-button,
#forgotpwd-input input[type=submit]:active,
#wpLoginBox #login-box #login-actions > .btn-login:active,
#advancedSearch .buttonsDiv > input[type=submit]:active,
#wpSearchResults .searchMain .searchFacets .filtersMain .ulfilters .savedSearchClass .searchButtonCenter > input:active,input[type=button].user-registration__submit-btn, input[type=reset].user-registration__submit-btn, input[type=submit].user-registration__submit-btn, button.user-registration__submit-btn,
#wpHealthJobPlus button[aria-controls="jobSearchForm"]:active,
.ej-feedback-btns input[type=submit]:active,
#ej-box-search-similar input[type=submit]:active,
.primary-button:active {   
    background-color: #be241b; /*journal footer*/   
}

#forgotpwd-input input[type=button],
#advancedSearch .buttonsDiv input[type=reset],
#wpHealthJobPlus input[type=button],
.ej-feedback-btns input[type=button],
#ej-box-search-similar input[type=button],
.secondary-button,
#forgotpwd-input input[type=button]:active,
#advancedSearch .buttonsDiv input[type=reset]:active,
#wpHealthJobPlus input[type=button]:active,
.ej-feedback-btns input[type=button]:active,
#ej-box-search-similar input[type=button]:active,
.secondary-button:active {   
 border: 0.1rem solid #be241b;
  
}
/**********End of Global Input Colors**************/
/**********Advertisement styles**************/

.ej-advertisement-title {
    color: #000000;
}

/**********End of Advertisement styles**************/
/*********End MainContainer Style**********/
.ej-tabs--default .ej-tabs__item {
background-color: #be241b;
border-color: #be241b;
} .ej-tabs--most-popular .ej-tabs__item {background-color:  #be241b; border-color:  #be241b;}
