.ej-advertisement-topcombo,
.ej-advertisement-bannercombo,
.ej-advertisement-bottom,
#ej-header-region,
#ej-bread-crumb,
#ej-prev-next-text-sizing-container,
#ej-article-outline-top,
#ej-article-information-col a,
#ej-article-information-ex a,
#ej-article-indicator-actions-container,
#ej-right-web-part-zone,
#ej-article-body-img-column p a,
#ej-article-cited-by-cover,
#ej-footer-region,
.ej-article-figure,
.ej-references-cited-here,
#wpArticleTools,
#article-navigator-and-text-tools,
#article-tools,
#mobileArticleTools,
#NotAuthMessageBoard,
#breadcrumb,
#main-header,
#sharing-bar,
#article-tools-bottom,
/*.article-abstract ul,*/
#main-footer,
.ej-advertisement-middle,
#wpAltmetrics,
#wpMostPopular,
.ej-advertisement-middle-b,
#wpRelatedVideos,
.content-box,
.content-box-body,
#article-indicator-actions-container,
.article-outline-top,
.article-references-cited-here,
.top-microbar-container,
#globalNavBox,
.advertisement-content_top,
#suiteBar,
.ej-info-message,
.wp-article-keywords,
#ej-box-search-similar,
.wk-main-header,
.user-info {
    display: none !important;
    width: 0;
    height: 0;    
}

.article-abstract ul,
.article-abstract .content-box {
    border: none;
}

body,
#ej-body,
#ej-body-container,
#ej-container {
    background: none;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#ej-journal-name,
#ej-journal-doi,
#ej-journal-section-subsection {
    font-size: 1.2em;
}

#ej-left-web-part-zone {
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

#ej-article-box-text,
#ej-article-body {
    text-align: justify;
}

#ej-article-information-abstract {
    border: 1px dashed #999999;
    padding: 10px 15px 0 15px;
    margin: 0 0 10px 0;
}

#ej-article-information-abstract-header h4 {
    color: #000000;
    margin: 0;
    padding: 0;
}

#ej-article-body-img-column table td {
    padding: 3px;
}

#article-abstract-content1,
#article-abstract-content3,
#article-abstract-content2,
#article-abstract-content4,
#article-references {
    display: block !important;
}

.tab-pane.fade {
    display: block !important;
    opacity: 1 !important;
}

.ej-article-copyright {
    margin-top: 10px;
}

div[class|=col-] {
    float: left;
}

.col-sm-6, .col-md-4 {
    width: 100%;
}

.article-abstract {
    padding-top: 2rem;
}


  a[href]:after {
    content: none !important;
  }


.article-abstract .nav-tabs > li > a, 
.article-abstract .nav-tabs > li > a:hover {
    border: none !important;
}

.article-abstract ul li a span {
    font-weight: bold;
    margin-left: -1.5rem;
}


 