/* RMIT CUSTOMISED CSS

Last updated: 21/04/2010 by Iza Bartosiewicz

*/

/* FEZ NEW (FROM PRODUCT SITE) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	border: 0pt none;
	margin: 0pt;
	padding: 0pt;
	background: transparent none repeat scroll 0% 0%;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0pt;
	font-size: 100%;
	vertical-align: baseline;
}

body { background: white; }

* {	margin: 0; padding: 0; border:none; }

img { border:0; }
/* a, a:visited { text-decoration:none; } */
a img,:link img,:visited img { border:none }
ul,ol { list-style:none }
address { font-style:normal }
table { border-collapse: collapse; border-spacing: 0pt; }

/*:link,:visited { text-decoration:none }*/
.clear-bg      { clear:both; margin-bottom: 5px; }
.clear-right   { clear:right; }
.float-left    { float:left; }
.float-right   { float:right; }
.hide 		   	 { display: none; }
.text-left     { text-align:left; }
.text-right    { text-align:right; }
.text-center   { text-align:center; }
.text-justify  { text-align:justify; }
.bold          { font-weight:bold; }
.italic        { font-style:italic; }
.underline     { border-bottom:1px solid; }
.highlight     { background: rgb(255, 255, 204); }
.img-left      { float:left;margin:4px 10px 4px 0; }
.img-right     { float:right;margin:4px 0 4px 10px; }
.nopadding     { padding:0; }
.noindent      { margin-left:0;padding-left:0; }
.nobullet      { list-style:none;list-style-image:none; }
.header-print  { display: none; }
.no-wrap	   { white-space:nowrap; }
.clearfix:after {	content: ".";	clear: both;	height: 0;	visibility: hidden;	display: block; }
.clearfix {	display: inline-block;}
* html .clearfix {	height: 1%;}
.clearfix {	display: block;}

/* For Print
-----------------------------------------------------------------------------*/
div#wordmark { display: none; visibility: hidden; }

/*	Hidden Content
-----------------------------------------------------------------------------*/				  	  
.skip {	display: none; }		
#search label { display: none; visibility: hidden; }	

/* Header + Body
-----------------------------------------------------------------------------*/	
.wrapper { position: relative; top: 0pt; margin: 0px auto; width: 960px; }

#header { margin: 0pt; padding: 0pt; background: rgb(96, 34, 124) url('/images/2009/bodybg.gif') repeat-x scroll 0pt 0pt; color: rgb(239, 239, 239); height: 100px; }
#header-inner { margin: 0 auto; padding: 0; width: 1000px; }
#header-inner h1 { margin: 26px 0 0 25px;  text-indent: -9999px; z-index: 9999; position: absolute; }
#header-inner h1 a { background: transparent url('/images/2009/masthead-logo.gif') no-repeat scroll 0pt 0pt; display: block; height: 50px; text-decoration: none; width: 182px; }

#header-inner h2 {
	width: 350px;
	float: left;
	margin-left: 218px;
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	height: 50px;
	border-left: 1px solid #d5bbe0;
}

#header-inner h2 a {
	margin-top: 12px;
	margin-left: 12px;
	color: white;
	display: block;
}

/* Login css on page header */
#logged-in {
	margin-top: -5px;
	margin-right: 30px;
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	font-size: 12px;
	width: 940px;
	text-align: right;
}

#logged-in a:link, #logged-in a:visited {
	color: rgb(223, 223, 223);
}

.logged-in-msg{
    padding: 5px 0px 2px;
    display: block;
    float: right;
}

/* Login button */
.logout-btn,
.login-btn{
    background: transparent url('/images/btn-login.png') 0 0 no-repeat;
    padding-left:8px;
    height: 22px;
    display: block;
    float: right;
    margin: 0 0 0 10px;
}

    SPAN.login-btn-text{
        background: #000;
        padding: 6px 15px 4px;
        height: 12px;
        display: block;
        float: left;
        font-weight: bold;
        font-size: 11px;
    }

    .logout-btn SPAN.login-btn-text{
        padding: 6px 5px 4px;
    }

    SPAN.login-btn-right{
        background: transparent url('/images/btn-login.png') 0 -144px no-repeat;
        width: 8px;
        height: 22px;
        float: left;
    }


/* Hover state for the Login button */
.login-btn:hover,
.logout-btn:hover{
    background-position: 0 -72px;
}

    .login-btn:hover SPAN.login-btn-text,
    .logout-btn:hover SPAN.login-btn-text{
        background: #89b315;
    }

    .login-btn:hover SPAN.login-btn-right,
    .logout-btn:hover SPAN.login-btn-right{
        background-position: 0 -216px;
    }

.padded_table td, .padded_table th {
    border:1px solid #CCCCCC;
    border-spacing:0px;
    padding:5px;
}

#mininav { margin: 0pt; padding: 10px 20px 8px 0; color: rgb(255, 255, 255); font-size: 9px; font-family: Helvetica,"Trebuchet MS",sans-serif; font-weight: lighter; float: right; }
#mininav ul { margin: 0pt; padding: 5px 0 0 15px; list-style-type: none; list-style-image: none; list-style-position: outside; letter-spacing: 1px; }
#mininav ul li { margin: 0pt 0.8em 0pt 0pt; padding: 0pt; float: left; display: inline; }
#mininav a { text-transform: uppercase; font-weight: bold; }
#mininav a:link { color: rgb(223, 223, 223); text-decoration: none; }
#mininav a:visited { color: rgb(223, 223, 223); text-decoration: none; }
#mininav a:hover { color: rgb(255, 255, 255); text-decoration: none; }
#mininav a:active { color: rgb(255, 255, 255); text-decoration: none; }


/* --------------------------  RMIT MAIN TAB STYLES --------------------------*/
/* REPLACE http://researchbank.rmit.edu.au/ with / in #topnav below before sending this file for uploading */

#topnav { height: 1.6em; margin: 1em 0 1em; padding: 0.5em 0 0; background: url('/images/ETH-bg-header.png') #fff bottom left repeat-x;}
#topnav { margin: 0; padding: 0.6em 0 0; }
#topnav-inner { height: inherit; margin: 0 2em; padding: 0; }  /* RMIT new style*/
#topnav ul { list-style-type: none; list-style-image: none; list-style-position: outside;  }
#topnav ul li { float: left; display: inline; margin-bottom: 0; }
#topnav ul li a { background: #666; color: #fff; border-top: solid 1px #ccc; border-left: solid 1px #ccc; border-right: solid 1px #ccc; letter-spacing: 1px; font-weight: bold; font-size: 0.9em; font-family: Verdana, Arial, Helvetica,sans-serif; padding: 0.5em; margin: 0 0.5em; }
#topnav li a:link, #topnav li a:visited  { color: #fff; text-decoration: none; padding: auto; } 
#topnav li a:hover { background-color: #AA0000; color: #fff; text-decoration: none;  }
/*#topnav li a:active { color: #fff; text-decoration: none;} */
#nav-focus a:link, #nav-focus a:visited, #nav-focus a:hover {background: #fff !important; color: #000 !important; }

div#search { background: transparent url('/images/2009/form-left.png') no-repeat scroll 0pt 0pt; position: absolute; top: 40px; margin: 0 0 0 775px;}
div#search form { margin: 0pt; padding: 0pt; width: 210px; }
div#search label { display: block; float: left; width: 30px; height: 18px; }
div#search label span { display: none; }
div#search input { border: 0pt none ; margin: 0 0 0 0; padding: 4px 0 0 0; background: transparent none repeat scroll 0% 0%; float: left; width: 142px; height: 18px; font-size: 11px; color: rgb(0, 0, 0); font-family: verdana, arial; }
div#search input.submit { margin: 0pt 0pt 0pt 3px; padding: 0pt; background: transparent url('/images/2009/form-right.png') no-repeat scroll 0pt 0pt; float: left; cursor: pointer; width: 20px; height: 22px; }

/* Footer
-----------------------------------------------------------------------------*/	

#footer { background: #fff url('/images/bg-footer.png') repeat-x scroll 100% 0pt; border-top: solid 2px #ccc; }
#footer { clear: both; min-height: 5em; !important; }
#footer .wrapper { margin-top: 40px; } 
#footer div { }
#footer .wrapper {  }
#footer li a, #navResources p a, .campus a, .directions a, .copyright a {  border-bottom: 1px solid rgb(108, 93, 94); color: rgb(241, 241, 241); cursor: pointer; }
#footer li a:hover, #navResources p a:hover, .campus a:hover, .directions a:hover, .copyright a:hover {  border-bottom: 1px solid rgb(73, 59, 60); color: rgb(221, 212, 213); }

#siteinfo { padding: 0 0 0 5px; width: 200px; float: left; color:rgb(255, 255, 255); }
#siteinfo { font-size: 11px; font-family: Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; }
#siteinfo .org { font-weight: bold; }
#siteinfo address { font-style: normal; }
#siteinfo .org { margin: 0 0 10px 0; height: 38px; width: 200px; }
#siteinfo .org a { overflow: hidden; background-image: url('/images/2009/uq-logo.gif') ! important; background-repeat: no-repeat ! important; background-color: transparent ! important; display: block; height: 38px;  text-indent: -1000px; }
#siteinfo .adr { margin: 0 0 5px 0; line-height: 1.4; }
#siteinfo .tel { margin: 0 0 5px 0; }
#siteinfo .campus { margin: 0 0 5px 0; }
#siteinfo .directions { margin: 0 0 5px 0; }
#copyright { margin: 0pt; font-size: 11px;  width: 200px; }

#footer-resources { margin: 0 0px 0 20px; width: 400px; float: left; border-left: 1px dotted rgb(217, 184, 250); }
#footer-resources h2 { margin: 0pt 0pt 6px; }
#footer-resources h2 { display: none; }
#footer-resources h3 { margin: 0pt 0pt 6px; font-family: 'Helvetica Neue', Arial,verdana,sans-serif; font-size: 12px; color: rgb(250, 184, 184); text-transform: uppercase; }
#footer-resources li { font-size: 11px; font-family: verdana,Arial,sans-serif; }
#footer-resources ul { margin: 0pt; list-style-type: none; }
#footer-resources li { margin: 0pt 0pt 6px; padding: 0 0 0 12px; background: transparent url('/images/arrow.png') no-repeat scroll  0px 2px; }
#footer-resources a { padding: 0pt 1px; }
#footer-resources p { color: rgb(255, 255, 255); font-family: 'Helvetica Neue', Arial,verdana,sans-serif; font-size: 11px; }

#navResources, #navSocial { float: left; }
#navResources { padding: 0 20px 0 20px; width: 50%; }
#navSocial { padding: 0 0 10px 0; width: 40%; }
#navQuick { float: left; padding: 0 0 10px 0; width: 40%; }
.member-logo{margin:0 0 10px 0;padding:0 0 2px 0}
.member-logo a:hover { background: none; text-decoration: none;  }

#footer-right { padding: 0 0 10px 15px; margin: 0; float: left; width: 310px; height: 146px; background: transparent url('/images/footer-device.png') no-repeat scroll 10px -1px ! important; border-left: 1px dotted rgb(217, 184, 250);}
#footer-right h3 { margin: 0pt 0pt 6px; font-family: 'Helvetica Neue', Arial,verdana,sans-serif; font-size: 12px; color: rgb(250, 184, 184); text-transform: uppercase; }
#footer-right p { margin: 5px 0 12px 0; font-family: verdana, arial, sans-serif; font-size: 11px; color: rgb(255, 255, 255); }
#footer-right li { font-size: 11px; font-family: verdana,Arial,sans-serif; }
#footer-right ul { margin: 0pt; list-style-type: none; }
#footer-right li { margin: 0pt 0pt 6px; padding: 0 0 0 12px; background: transparent url('/images/arrow.png') no-repeat scroll  0px 2px; }

p.centenary { padding: 16px 0 0 0; }

#powered-by {
	clear: both;	
	font-size: 0.7em;
	font-family: Verdana, Arial,sans-serif;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
}

/* #powered-by a:link, #powered-by a:visited {
	border-bottom: 1px solid rgb(108, 93, 94);
	color: rgb(241, 241, 241);
} */

.opacity-toggle img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9; }
.opacity-toggle:hover img{ filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity: 1; opacity: 1.0; }

#navExplore, #navLogos { float: left; }
#navExplore { padding: 0 20px 0 5px; width: 180px; }
#navLogos { padding: 0 0 10px 0;  }

/* -------------------------  CONTENT   ---------------------------- */

/* Site-specific styling. */

#content-holder {
	/* Maybe we'll add a background later if we get fancy. */
}

#content {
    background: #fff;
    position: relative;
    top: 0;
	line-height: 1.5em;
    font-size: 0.8em;
    font-family:  Verdana, 'Helvetica Neue', Arial,sans-serif;
    min-height:500px;
    height:auto !important;
    /*height:500px;*/
	margin: 0;
    padding: 1.5em 1em 1.5em 6em;
}

.content-restrict {
    width: 1100px;
}

/* END FEZ NEW */

#content a, #content a:link, {
	color: #333399;
}

/* RMIT style added  */
#content a:visited {   color: #993333; }

#content a:hover { 	color: #3179C6; }

/*
#content p {
	margin-bottom: 20px;
	line-height: 1.4em;
}
*/
#content p {
	margin: 0.5em;
}

#record-suggestions div ol li{
  list-style: decimal outside none;
  padding: 3px;
  margin-left: 5px;
  font-size: 11px;
}



.invisible {
    display: none;
    visibility: hidden;
}

/*.default {
    font-weight: normal;
}*/

.default a {
    color: #333399; 
}

.default a:hover {
    color: #3179C6;
}

.default a.author_id_link {
    color: #4F7F37;
    text-decoration: none;
}

.default a:hover.author_id_link {
    color: #C1EFB3;
}

.citation {
    font-weight: normal;
}

.default-search-used {
    font-weight: bold;
    color: #FF0000;
}

.default_white {
    font-weight: normal;
    color: #FFFFFF;
}

.error {
    font-weight: bold;
    color: red;
}

.success {
    font-weight: bold;
    color: green;
}

.paging_input {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.button {
	background: #d4d4d4;
	color: #494949;
	font-size: 12px;
	line-height: 1.3em;
	height: 27px;
}

.button:hover {
	color: #000000;
	border: 1px solid #5969e1;
}

input, select, textarea {
	border: 1px solid #c5c5c5;
	padding: 3px;
	margin-top: 5px;
}

#content table {
	padding: 5px;
}

/* --------------  RMIT HEADING STYLES   ------------------------------ */

h1, h2, h3, h4, h5, h6 {
	color: #000;
	text-align: left; 
	font-family: Arial, Helvetica, Geneva, sans-serif; 
	padding: 0;
}

h1 {
	font-size: 1.5em; 
	margin: 0.4em 0; 
}

h2 {
	font-size: 1.3em;
	margin: 1.4em 0 0.4em 0; 
}

h3 {
	font-size: 1.2em;
	margin: 1.2em 0 0.4em 0; 

}

h4, h5, h6 {
	font-size: 1em; 
	margin: 1em 0 0.4em 0;

}

.shortcut {
    font-weight: bold;
    font-size: 9px;
}

.title_link {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.title_link:hover {
    text-decoration: underline;
}

.title_link #title_link {
    text-decoration: underline;
}

.author_id_link {
    color: #4F7F37;
    /*text-decoration: none;*/
}

.author_id_link:hover {
    color: #C1EFB3;
}
/* RMIT note - potentially redundant classes

.silent_link { color: #000000; text-decoration: none; }
.silent_link:hover { text-decoration: underline; }
.silent_link #author_link {text-decoration: underline; }
*/

.white_link_underline {
	color: #FFFFFF !important;
	text-decoration: underline;
}

.white_link {
    color: #FFFFFF;
    text-decoration: none;
}

.white_link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.white_link #white_link {
    text-decoration: underline;
}

.link {
    color: #000000;
    text-decoration: underline;
}

.link:hover {
    color: #000000;
    text-decoration: none;
}

.link #link {
    text-decoration: none;
}

.lookup_field {
    font-weight: normal;
    color: #999999;
}

.small_default {
    font-size: 9px;
}

.help {
    cursor: help;
    color: #FFFFFF;
    text-decoration: underline;
}

select.suggest_select {
    min-width: 15em;
}

div.suggestions {
    -moz-box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    z-index: 1;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
    font-weight: normal;
    font-size: 12px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}

.query_footer {color:#FFFFFF;}

/************************* Content Tags *************************/
.table-header {
    background: #003399;
}

.for {
    font-size: 14px;
    color: #156DB1
}

.about {
    font-size: 14px;
    color: #156DB1
}

.listrecord {
    font-weight: normal;
    padding-bottom: 2px;
    margin-top: -20px;
}

.listrecord td {
	/* height: 45px;*/
	padding: 1em; 
}
/* RMIT note: commented out, defaults used instead

.listrecord a { text-decoration: none;    color: #3179C6;  }
.listrecord a:hover {  text-decoration: none;   color: #61ADFF; }
.listrecord a.author_id_link { color: #4F7F37; text-decoration: none; }
.listrecord a:hover.author_id_link { color: #C1EFB3; } */

.listrecord .tr {
    background-color: #255282;
    color: white;
}

.contentheader {
    font-weight: bold;
    color: #333;
    clear: left;
    padding-top: 10px;
}

.listrecord .td {
    font-size: 5px;
    font-weight: bold;
    background-color: #255282;
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
    color: white;
}

.tableheader {
    font-weight: bold;
}

table.listing {
    width: 100%;
}

table.listing td {
    margin: 1px 1px 0px 0px;
    padding: 1px 1px 1px 5px;
    border-width: 0px;
}

td.checkbox_column {
width: 2em;
}


#front-page-container-simple {
	margin-left: auto;
	margin-right: auto;
    margin-top: 20px;
	margin-bottom: 50px;
	width: 400px;
}

#front-page-container-simple a {
    text-decoration: none;
    color: #3179C6;
}

#front-page-container-simple a:hover {
    /*text-decoration: underline;*/
    color: #61ADFF;
}

#front-page-container-simple a.author_id_link {
    color: #4F7F37;
    text-decoration: none;
}

#front-page-container-simple a:hover.author_id_link {
    color: #C1EFB3;
}

#front-page-container {
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 10pt;
}

#front-page-container a {
    text-decoration: none;
    color: #3179C6;
}

#front-page-container a:hover {
    /*text-decoration: underline;*/
    color: #61ADFF;
}

#front-page-container a.author_id_link {
    color: #4F7F37;
    text-decoration: none;
}

#front-page-container a:hover.author_id_link {
    color: #C1EFB3;
}

.front-page-content-header {
    font-size: 18px;
    font-weight: bold;
    color: #00358B;
    padding: 0px 0px 0px 5px;
}

.front-page-content-detail {
    padding-top: 5px;
    margin-left: 20px;
}

.front-page-list a:hover {
    text-decoration: underline;
    color: #156DB1;
}

.front-page-list {
    list-style-image: url('/images/bullet.gif')
}

.front-page-list li {
    line-height: 1.2em;
    margin-left: -5px;
}

#front-page-logo-set td {
    padding: 10px;
    text-align: center;
}

.news-item {
    font-weight: normal;
    padding: 2px 2px 10px 10px;
    margin: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.news-heading {font-weight: bold;}

.news-supp-info {
    padding-top: 5px;
    padding-bottom: 15px;
    color: #999999;
}

.letter-list {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    /* color: #B9B9B9; */
    margin: 4px;
    padding: 4px;
}

.letter-list a:link, .letter-list a:visited {
    font-weight: bold;
}

.letter-list a:hover { color: #156DB1; }



.admin-wrapper {
    padding: 10px;
    margin: 10px;
    width: auto;
}

.admin-box {
    border: 1px solid #AA0000;
    background-color: white;
    padding: 10px;
}

.admin-box h1 {
    font-weight: bold;
    font-size: 14px;
	color: #1f1f1f;
    padding: 5px 5px 0px 5px;
}

.admin-box h2 {
    font-weight: bold;
    font-size: 12px;
	color: #3e3e3e;
    padding: 10px 5px 10px 5px;
}

.admin-side-nav-title {
	/* Deprecate this in favour of the above */
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.admin-side-nav {
    margin: 2px;
    padding: 0px;
}

.admin-side-nav li {
    border-bottom: 1px #DEDEDE solid;
    list-style: none;
    white-space: nowrap;
}

.admin-side-nav a {
    padding: 2px;
    display: block;
}

.admin-side-nav li a:hover {
    background-color: #EE0000;
    color: white !important;
}

.admin-side-nav li a:active, .focus {
    background-color: #AA0000;
    color: white !important;
}

.admin-header {
    padding: 5px;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
    color: #333;
}

.admin-content {
    padding: 10px;
}

.config-group {
    padding: 5px;
    border: 1px #A7C1DF solid;
}

.colname {
    width: 130px;
    padding: 5px 10px 5px 5px;
    text-align: right;
    font-weight: bold;
}

.coldetail {
    padding: 5px;
    font-size: 80%;
}

.colname, .coldetail {
	border-top: 1px solid #dddddd;
}


/************************* Header Tags *************************/

#intro-text {
	color: #2a2a2a;
	padding: 0px 0px 20px 0px;
}
#intro-text h1 {
  font-size: 20pt;
  font-weight:normal;
  padding-bottom:0.4em;
}
#intro-text p {
  padding:0;
  margin:0;
}

/*--------------------------------
	Structure
--------------------------------*/

#container {
	padding: 1em 0 0.5em;
}

#inner-container {
	margin: 0 auto;
	margin: 0; /* RMIT template w/r 213831 */
	width: 1100px;
}

/*--------------------------------
	Navigation
--------------------------------*/

#navigation {
	clear: both;
	position: relative;
	top: 0px;
	overflow: hidden; /* to be replaced by a proper clearfix */
	font-size: 14px;
}

#n-bar {
	position: relative;
	margin: 0 auto;
	height: 30px;
}

/* tabs (general) */

.tabs li a {
	display: block;
	padding: 5px 12px;
	text-decoration: none;
	background: #317DCE;
	border-top: 1px solid #336699;
	border-right: 1px solid #336699;
	border-left: 1px solid #336699;
	border-bottom: 1px solid #336699;
	color: #f2f2f2;
}

.tabs li a:hover {
	background: #336699;
	text-decoration: underline;
}

.tabs li a.active {
	background: #fff;
	border-top: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
	border-left: 1px solid #b2b2b2;
	border-bottom: 1px solid #fff;
	color: #555;
}

.tabs li a.iconized {
	padding-left: 26px;
}

.tabs li a.icon-lock-go {
	background: #317DCE url(/images/icons/lock_go.png) left 40% no-repeat;
}

.tabs li a:hover.icon-lock-go {
	background: #336699 url(/images/icons/lock_go.png) left 40% no-repeat;
}

.tabs li a.icon-lock-go.active {
	background: #fff url(/images/icons/lock_go.png) left 40% no-repeat;
	border-top: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
	border-left: 1px solid #b2b2b2;
	border-bottom: 1px solid #fff;
	color: #555;
}

#n-info .tabs li a {
	background: #a2a2a2;
	border-top: 1px solid #828282;
	border-right: 1px solid #828282;
	border-left: 1px solid #828282;
	border-bottom: 1px solid #828282;
	color: #fff;
}

#n-info .tabs li a:hover {
	background: #828282;
	text-decoration: underline;
}

#n-info .tabs li a.active {
	background: #fff;
	border-top: 2px solid #b2b2b2;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
	border-bottom: 2px solid #fff;
	color: #555;
}

#n-info .tabs li a.icon-help {
	background: #a2a2a2 url(/images/icons/help.png) left 48% no-repeat;
}

#n-info .tabs li a:hover.icon-help {
	background: #828282 url(/images/icons/help.png) left 48% no-repeat;
}

#n-info .tabs li a.icon-help.active {
	background: #fff url(/images/icons/help.png) left 48% no-repeat;
	border-top: 2px solid #b2b2b2;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
	border-bottom: 2px solid #fff;
	color: #555;
}

/* n-action */
#n-action {
	position: absolute;
	width: 400px;
	bottom: 0;
	margin-left: -40px;
}

#n-action ul li {
	float: left;
	margin-right: 0px;
	font-weight: bold;
	padding: 0px;
}

/* n-info */

#n-info {
	position: absolute;
	width: 500px;
	bottom: 0;
	right: 0;
	font-weight: bold;
	padding-right: 200px;
}

#n-info ul li {
	float: right;
	margin-left: 0px;
}

/************************* Content Tags *************************/

#custom-content h2, #maintenance h2 {
    padding-bottom: 10px;
}

#maintenance {
    text-align: center;
    padding: 75px;
}
#maintenance h1 {
    text-align: center;
}

.table-header {background: #003399;}

.for {
	font-size: 14px;
	color: #156DB1
}

.about {
	font-size: 14px;
	color: #156DB1
}

.privacy {
	font-size: 14px;
	color: #336699
}

#logged-in {
	font-size: 9pt;
	float: left;
	padding-left: 30px;
}

div.wfl_description {
padding: 1em;
margin: 1em;
font-size: 110%;
border: 1px solid #AA0000;
background-color: #F6F6F6;
}

span.wfl_progress {
padding: 3px;
border: 1px solid #AA0000;
background-color: #F6F6F6;
}

.outline
{
    /* width:99%; */
    /* padding: 2px 2px 2px 2px; */
    /* margin: 0px 2px 2px 2px; */
    border: 1px solid #E5E5E5;
    background-color: white;
}

.msg {
color: black;
background-color: #E5E5E5;
text-align: center;
font-weight: bold;
font-size: 12px;
padding: 2px;
}

.table_heading_row {
background-color: #E5E5E5;
font-weight: bold;
font-size: 11px;
margin: 10px;
vertical-align: middle;
}

.listing_row_light { background-color: #DDDDDD;}
.listing_row_dark {background-color: #CACACA;}

.citation_preview {
    padding: 3px;
    border: 1px solid #AA0000;
    background-color: #F6F6F6;
}

div.fez_form {
    padding: 3px;
    border: 1px solid #E5E5E5;
    background-color: #F6F6F6;
}

div.fez_form_item {
    display: table-row;
    border: 1px solid #F6F6F6;
}

.fez_form label {
    display: table-cell;
    background-color: #E5E5E5;
    font-weight: bold;
    font-size: 11px;
    padding: 5px;
    width: 200px;
    vertical-align: top;
 }

span.fez_form_input {
    display: table-cell;
    background-color: #F6F6F6;
    font-size: 11px;
    padding: 2px;
}

ul.my_views_tab {
    list-style-type:none;
    line-height:1em;
	margin-bottom: 10px;
}

ul.my_views_tab li {
    display:inline;
    margin:0px;
    padding:0px;
}

ul.my_views_tab a, ul.my_views_tab a:active {
    float:left;
    color:#444;
    text-decoration:none;
    font-weight:bold;
    font-size: 12px;
    background:#F6F6F6;
    margin:0;
    padding:0.25em 1em;
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid #E5E5E5;
}

ul.my_views_tab a:hover,ul.my_views_tab a.my_views_tab_here
{
    background:#E5E5E5;
}

div.cv_selection, .light_background
{
    background:#F6F6F6;
}

.compare_records_left_side {
    background-color: #F6F6F6;
}

.dark_background {
    background-color: #AA0000;
}

/*
 * My Fez
 */

.my_fez_table th, .my_fez_table th a { background-color: #AA0000; color: white; font-weight: bold; }
.my_fez_table th a {
	text-decoration: underline;
	color: white !important;
}

.my_fez_table td, .my_fez_table th {
    border:1px solid #CCCCCC;
    border-spacing:0px;
    padding:5px;
}

.my_fez_table td{
    background-color: #FFFFFF;
}

/* Highlight bgp that is currently running */
.my_fez_table tr.state-running td{
    background-color: #E5E5EF;
}

.my_fez_table {border-collapse:collapse;}

.my_fez_table_footer {
	background-color:#EFEFEF;
    padding: 0px;
    border: none;
    font-size: 12pt;
}

.my_fez_table_footer input {
    font-style:normal;
    font-size: 9pt;
}

.my_fez_table_footer td {border: none;}

/*
 * Advanced Search
 */
.search_fields {
	border: 0;
	width: 100%;
	text-align: center;
}
.search_fields th {padding: 4px;}
.search_fields td {padding: 4px;}
.search_fields th {padding:4px;}

th.search_heading {
    border-top:1px dashed #AA0000;
    padding-bottom:0.5em;
    padding-right:0.5em;
    padding-top:0.5em;
    text-align:right;
    white-space:nowrap;
}

td.search_multi_input {
    border-left:1px dashed #AA0000;
    border-top:1px dashed #AA0000;
    padding:0.5em;
}

table.search_fields img.ui-datepicker-trigger{
    cursor: pointer;
}

.end_date_wrapper{
    margin-top:15px;
}

.paging-box {
	clear:both;
	position: relative;
	border-top: 2px solid #d6d6d6;
	border-right: 2px solid #d6d6d6;
	border-left: 2px solid #d6d6d6;
	border-bottom: 2px solid #d6d6d6;
	padding: 8px 5px 0px 5px;
	background: #e5e5e5;
	margin: 0px;
}

.paging-box a {
	color: #555;
	padding: 0 0.1em 0;
}

.paging-box .page {
	font-weight: bold;
	background: #b2b2b2;
	padding: 0.25em;
	color: #e5e5e5;
}

.result-range {
	position: absolute;
	padding-left: 15px;
	float: left;
	text-align: left;
}

.result-pages {
	text-align: center;
}

.result-box {
	position: relative;
	margin-bottom: 1.0em;
	background: #f2f2f2 url(/images/bg-boxes-bottom.png) bottom left no-repeat;
	background-size: 1100px 15px;
}

.result-box h2 {
	background: #AA0000 url(/images/bg-boxes-top.png) top left no-repeat;
	background-size: 1100px 15px;
	color: #fff;
	font-size: 1.2em;
	padding: 20px 0 5px 15px;
	text-align: left;
}

#order-box, #workflows-box {
	font-size: 11px;
	padding: 0px 15px 5px 15px;
}

.order-element {
	float: left;
	margin-right: 3.5em;
}

#order-box form, #workflows-box form {display: inline;}
#order-box select, #workflows-box select {width: auto;}
#order-box label, #workflows-box label {margin-right: 0.25em;}
#order-box #order-sequence, #workflows-box #order-sequence {width: 65px;}
#order-box #order-view, #workflows-box #order-view {width: 150px;}
#order-box #order-number, #workflows-box #order-number {width: 65px;}

.rss {
	position: absolute;
	top: 22px;
	right: 15px;
	text-align: right;
	width: 300px;
	font-size: 11px;
	color: #fff;
	margin: 0px;
}

.rss img {
	margin-right: 0.5em;
}

.rss a, .rss a:visited {
	color: white !important;
}

.rss a:hover {
	/*text-decoration: underline !important;*/
	color: #d5f2ff !important;
}

/*--------------------------------
	Miscellanous
--------------------------------*/

.page_master_icon {
    position: relative;
    bottom: -10px;
}

hr {
	display: block;
	margin-top:2em;
	height:0px;
	color:#c0c0c0;
}

.h-line {
	border-top: 1px solid #DDD;
	margin-top:20px;
	margin-bottom:20px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
	clear:both;
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* End hide from IE-mac */
#criteria-box {
	margin: 1em 0 1em;
	text-align: left;
}

#parent-list {font-size: 10pt;}

.sub-box {background-color: #f2f2f2; }

.create-box {
	padding: 5px;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	width: 350px;
	float: top;
	margin-bottom: 20px;
	margin-top: -15px;
}

.create-box a:link {
	text-decoration: none;
}

#banner-sitename a {
	display: inline;
	float: left;
	font-size: 24px;
	color: white;
	padding: 10px 0px 0px 40px;
	text-decoration: none;
}

#banner-watermark {
	display: inline;
	float: right;
	margin: 8px 10px 0px 0px;
}

#omc {
	color: #000;
	text-align:center;
	font-size: 0.8em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 1em;
}

#my-fez-container {padding: 10px;}

.phantomVersionItem {color:#aaaaaa;}

#viewInfoBoxUpper, #viewInfoBox, #viewInfoBoxNoEdit {
	border: 1px solid #8e8e8e;
	padding: 10px;
	line-height: 20px;
}

#viewInfoBoxNoEdit {
	background-color: #FDFFD9;
}

#viewInfoBoxTable th {
	text-align: right;
	padding-right: 15px;
	vertical-align: top;
}

a.app_errors {
display:block;
width: 90%;
background: #660000;
color: white;
border: 1px solid #FF3333;
font-weight: bold;
font-size: 11px;
text-decoration: none;
margin: 5px 40px 5px 40px;
padding: 0px;
overflow:hidden;
height: 70px;
cursor: text;
}

a.app_errors:hover {
height: auto;
cursor: text;
}

.app_error {
    border: 1px solid #FF3333;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.app_error_source {padding: 5px;}

.app_error_backtrace_item {
    background: #993333;
    padding: 5px;
}

.app_error_backtrace_file {
    padding: 5px;
    margin-left: 100px;
}

.old_bgp {color: red;}

.register_suggest {display: none;}

div.wfl_progress {padding: 5px;}

img.wfl_progress {
margin: 2px;
position:relative;
top: 5px;
}
.sanity_result_passed {color: green;}
.sanity_result_failed {color: red;}

.flash_message {
    width: 935px;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.message_ok {
    border: 1px solid #08ac00;
    background-color: #c9ffc6;
}

.message_alert {
    border: 1px solid #fffc00;
    background-color: #fffec6;
}

.matching_alert {
  border: 1px solid #fffc00;
  padding: 2px;
  background-color: #fffec6;
}

.message_error {
    border: 1px solid #ff1010;
    background-color: #ffc6c6;
}

.loading {
background-color: red;
color: white;
padding: 2px;
float:right;
}

.custom_search_item {
text-align: left;
margin: 0 5px 5px 5px;
}

.quick_search_item {
float:left;
margin: 0 5px 5px 5px;
}

.quick_search_button {
clear:both;
float: right;
}

.quick_search_hide {
clear: both;
text-align: center;
}

.yes {color:green;}
.no {color:red;}

.compare_records_left_side, .compare_records_right_side {
vertical-align: top;
}

.compare_records_left_side div, .compare_records_right_side div {
margin-bottom: 1em;
}

.snip {
	font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:60%;
    font-style:normal;
    font-weight:normal;
    word-wrap: break-word;
    word-break: break-all;
}

.snip em {
	color:red;
}

.facet {
	float: left;
	width: 200px;
	padding: 0px;
}

.facetheader {
	/* background-color: #AA0000;*/
	border-bottom: 2px solid #AA0000;
	color: #fff;
	padding-left: 5px;
	width: 80%;
}

.facet ul {
	text-align: left;
	margin-left: 0px;
	padding: 2px;
    padding-top: 10px;
}

.facetarrow {
	list-style-image: url(/images/tab-arrow.gif);
	list-style-position: outside;
	margin-left: 0.9em;
}

.facet a {
	text-decoration: none;
}

a.form_note {
    text-decoration: none;
    color: black;
}

a.form_note img {
    border: none;
}

span.form_note {
    display: none;
}

a.form_note:hover span.form_note {
    display: block;
    position: absolute;
    /*width: 225px;*/
    padding: 5px;
    margin: 0px;
    color: black;
    z-index: 100;
    background-color: #ffffee;
    border: solid 1px black;
    text-align: left;
}

.form_note img {
    padding-right: 2px;
    vertical-align: top;
}

div.maxlength {
    font-size: 70%;
    color: black;
 }

span.maxlength_exceeded {
    color: red;
    font-weight: bold;
 }

#fedora_fail {
	border: 1px solid red;
	background: #ffd2d2;
	padding: 10px;
	width: 500px;
	text-align: center;
	align: center;
	margin: 0 auto;
}

.gallery-row img {
	margin-top: 20px;
}





/* Home page stylings */

.boxes,
.floated-boxes {
	margin-bottom: 2em;
	background: #f2f2f2;
}

.floated-boxes {
	float: left;
}

.boxes {
	clear: left;
}

.floated-boxes h2 {
	margin: 0px;
	background: #AA0000 url(/images/bg-smallboxes-top.png) top left no-repeat;
	color: white;
	font-size: 1.3em;
	padding: 20px 0 5px 15px;
}

.boxes h2 {
	background: #AA0000 url(/images/bg-boxes-top.png) top left no-repeat;
	background-size: 1100px 15px;
	color: white;
	font-size: 18px;
	padding: 20px 0 5px 15px;
}

ul.box-tab {
	margin-top: 0.5em;
	background: transparent url(/images/bg-tab-nav.png) bottom left repeat-x;
}

ul.box-tab li {
	float: left;
	margin-left: 15px;
	display: inline;
	padding: 5px 17px 7px;
	background: transparent url(/images/tab-arrow.gif) 5px 50% no-repeat;
}

ul.box-tab li a {
	text-decoration: none;
	font-size: 13px;
	color: #555;
}

ul.box-tab li a:hover {
	text-decoration: underline;
	background: none;
}

ul.box-tab li.box-tab-active {
	background: #e5e5e5;
	border-top: 2px solid #d6d6d6;
	border-right: 2px solid #d6d6d6;
	border-left: 2px solid #d6d6d6;
}

ul.box-tab li.box-tab-active a {
	text-decoration: none;
}

.box-content {
	padding: 1.5em 0;
	background: #e5e5e5;
	list-style: none;
}

.box-content li {
	margin-bottom: 16px;
	margin-left: 30px;
}

/* Startpage */

#first-box {
	width: 465px;
	padding-top: 15px;
	background: none !important;
  /* Nudge the #first box up relative to the Daily Snapshot box -- WR 214142 */
	position: relative;
	top: -1em;
  /* End. */
}

#first-box h1 {
	margin-bottom: 0.5em;
}

#first-box p {
	margin-bottom: 1em;
	line-height: 1.5em;
}

/* Search-Box */

#search-box {
	margin-top: 0px;
	margin-bottom: 25px;
}

#searchbox-content {
	position: relative;
	background: #f2f2f2 url(/images/bg-searchbox.png) top left repeat-x;
	padding: 20px;
	border-top: 2px solid #d2d2d2;
	border-right: 2px solid #d2d2d2;
	border-bottom: 2px solid #d2d2d2;
	border-left: 2px solid #d2d2d2;
}

#search-box form {
	margin-bottom: 20px;
}

#search-box p.advanced-search-link {
	margin-bottom: 0px;
}

#search-box #search-field {
	width: 325px;
	border-top: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
	border-left: 1px solid #b2b2b2;
	padding: 0.25em;
	font-size: 14px;
	color: #333;
	background: #fff;
}

#search-box label {
	display: block;
	font-size: 13px;
	margin-bottom: 10px;
}

#search-box #submit-button {
	margin-left: 10px;
	padding: 0.25em;
}

a.icon-help {
	text-decoration: none;
	color: #fff;

}

a.icon-help img {
	border: 0;
	margin-right: 0.5em;
}

/* Snapshot-Box */

#snapshot-box {
	padding: 0px;
	margin: 0px;
	width: 465px;
	width: 520px;  /* w/r 213831 #25 */
	margin-left: 25px;
	padding-bottom: 15px;
	padding-top: 0px;
	background: #f2f2f2 url(/images/bg-smallboxes-bottom.png) bottom left no-repeat;
	background-size: 1100px 15px;
}

/* w/r 213831 #25 */
#snapshot-box h2 {
    background-image: none;
    padding: 10px;
}

#snapshot-box .box-content {
	margin: 0px;
	padding: 20px 10px 10px 10px; /* w/r 213831 #25 */
	border-right: 2px solid #d6d6d6;
	border-bottom: 2px solid #d6d6d6;
	border-left: 2px solid #d6d6d6;
}

#snapshot-box .box-content p {
	margin-bottom: 1.5em;
	line-height: 1.25em;
}

#snapshot-box .box-content ol {
	margin-left: 25px;
}

#cloud-tag {
	padding: 15px;
}

/* Browse-Box */

#browse-box {
	padding-bottom: 15px;
	background: #f2f2f2 url(/images/bg-boxes-bottom.png) bottom left no-repeat;
	background-size: 1100px 15px;
	visibility: hidden;
}

#browse-box .box-content {
	border-right: 2px solid #d6d6d6;
	border-bottom: 2px solid #d6d6d6;
	border-left: 2px solid #d6d6d6;
}

.browse-item {
	float: left;
	width: 300px;
	margin-left: 15px;
	line-height: 1.75em;
}

.browse-item2col {
	float: left;
	width: 450px;
	margin-left: 15px;
	line-height: 1.75em;
}

.browse-item4col {
	float: left;
	width: 150px;
	margin-left: 15px;
	line-height: 1.75em;
}

.rowlist {
	float: left;
	width: 300px;
	margin-left: 15px;
	line-height: 1.75em;
}


ul.shadetabs{
	padding: 0px;
	margin: 0px;
	margin-top: 0.5em;
	background: transparent url(/images/bg-tab-nav.png) bottom left repeat-x;
}

ul.shadetabs li{
	float: left;
	margin-left: 1em;
	display: inline;
	padding: 0.5em 0.8em 0.5em 1.2em;
	background: transparent url(/images/tab-arrow.gif) 5px 50% no-repeat;
}

ul.shadetabs li a:hover{
	background: none;
}

ul.shadetabs li.selected{ /*selected main tab style */
	background: #e5e5e5;
	border-top: 2px solid #d6d6d6;
	border-right: 2px solid #d6d6d6;
	border-left: 2px solid #d6d6d6;
}

.tabcontent {
	display:none;
}

ul.shadetabs li a{
	z-index: 1;
	text-decoration: none;
	font-size: 1em;
	color: #555;
}

/* RMIT style */

ul.shadetabs li a:visited { color: #555 !important; }

.search-element {
	margin-top: 1em;
}

.search-element .textfield {
	width: 25em;
	border-top: 1px solid #b2b2b2;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
	padding: 0.25em;
	font-size: 12px;
	color: #333;
	background: #fff url(/images/bg-field.png) top left repeat-x;
}


/* general horizontal ruler */
div.hr {
  border-top:1px dotted #b2b2b2;
  height:1px;
  margin-top:2em;
  margin-bottom:0.1em;
}

div.hr hr {
  display: none;
}

.link-status-good {
    background-color: #bfffd3;
}

.link-status-bad {
    background-color: #ffbfbf;
}

.link-status-unknown {
    background-color: #feffbb;
}

/* VIEW PAGES */

#datastream_preview {
	width: 100%;
}

#datastream_preview_td {
	background: #FFFFFF;
	vertical-align: top;
	width: 30%;
}

#view-attachments {
	background: white;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

#view-attachments tr {
    border-bottom: 1px solid #E5E5E5;
}

#view-attachments th {
    background: #EE0000;
    color: #FFFFFF;
    padding: 4px;
    text-align: left;
}

#view-attachments td {
	padding: 4px;
    vertical-align: middle;
}

#view-metadata {
    width: 100%;
}

#view-metadata th {
    background: #E5E5E5;
    width: 20%;
    vertical-align: top;
    white-space: nowrap;
    text-align: right;
}

#view-metadata td {
    background: #F6F6F6;
    width: 80%;
}

#view-metadata th, #view-metadata td {
    padding: 4px 10px 4px 10px;
    border-bottom: 1px solid #E5E5E5;
}

div.sfa-thesis-header{
    font-weight: bold;
    margin: 15px 0px 10px;
}

#outstandingWorkflowsDiv {
	display:block;
	border:1px dashed blue;
	margin: 4px auto;
	padding: 5px;
}

.outstandingDetailsTable {
/*	background-color: #bbb;*/
	background-color: #fff;
}
.outstandingDetailsTable tr td, .outstandingDetailsTable tr th {
	padding: 5px;
	border: 1px solid #bbb;
}
#sherpa a:link {color:#000000;}
#sherpa a:visited {color:#000000;}
#sherpa a:hover {color:#c0c2c5;}
#sherpa a:active {color:#000000;}


/* OBJECT HISTORY */

#object-history {
    background: white;
    position: relative;
    top: 0pt;
    margin: 0px auto;
    padding: 10px 5px 5px 5px;
    font-family: 'Helvetica Neue', Arial, Verdana, sans-serif;
    font-size: 12px;
    height:auto !important;
}

#object-history th, #object-history td {
	padding: 5px;
}

#object-history .date-col, #object-history .details-col {
	background: #EE0000;
	color: white;
	font-weight: bold;
}

#object-history .date-col{
	width: 230px;
}

#herdc_advice {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid red;
}

.text-input-even {
    background: #F6F6F6;
}

.text-input-odd {
    background: #E5E5E5;
}

a.author_id_link {
    color: #4F7F37 !important;
}

a.author_id_link:hover {
    color: #60c82c !important;
}

/*   RMIT style   */
a.author_id_link:visited {
	color:#003300 !important;
}


.cell-colour {
    background: #E5E5E5;
}

.light-colour {
    background: #F6F6F6;
}

.enabled {
    color: green;
}

.disabled {
    color: red;
}

.admin-edit thead th {
    text-align: left;
}

.admin-edit th {
    background: #E5E5E5;
    text-align: right;
    padding-right: 10px;
}

.admin-edit td {
    background: #F6F6F6;
    width: 80%;
    padding-left: 15px;
}

.edit-metadata thead th {
    background: white;
    text-align: left;
}

.edit-metadata thead td {
    background: #E5E5E5;
}

.edit-metadata th {
    background: #E5E5E5;
    width: 200px;
    vertical-align: top;
    text-align: left;
    padding: 8px 15px 3px 5px;
    font-weight: normal;
}

.edit-metadata td {
    /*background: #F6F6F6;*/
    padding-left: 5px;
}

.admin-list th {
    background: #E5E5E5;
    text-align: left;
    padding: 3px;
    font-weight: bold;
}

.admin-list td {
    padding-left: 3px;
    padding-right: 10px;
}

#view_stats {
    width: 100%;
    background: #FFFFFF;
    margin-top: 15px;
}

#view_stats th {
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    padding-bottom: 3px;
}

#view_stats td {
    padding-left: 10px;
    padding-bottom: 3px;
    white-space: nowrap;
}

#viewversionform td {
    padding: 3px 5px 3px 5px;
}



#related-links {
    margin-top: 20px;
    background: #FFFFFF;
    width: 100%;
}

#related-links th, #related-links td {
    padding: 3px 5px 3px 5px;
}

#related-links tr {
    border-bottom: 1px solid #E5E5E5;
}

#related-links td {
    background-color: #F6F6F6;
    padding: 4px;
    vertical-align: middle;
}

#versions, #datasets {
    margin-top: 20px;
    background: #FFFFFF;
    width: 100%;
}




#versions, #datasets th, #related-links td {
  padding: 3px 5px 3px 5px;
}

#versions, #datasets tr {
  border-bottom: 1px solid #E5E5E5;
}

#versions, #datasets td {
  background-color: #F6F6F6;
  padding: 4px;
  vertical-align: middle;
}


.ext-lookup-results tbody tr td {
    padding: 2px;
    font-size: 11px;
}

#faq hr {
    background-color: #4c4c4c;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#faq h2 {
    color: #4c4c4c;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Login page stylings */

#primary-login-unhider, #secondary-login-unhider {
    background: #FEFCEE;
    border: 1px solid #00247D;
    padding: 10px;
    width: 478px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#secondary-login-unhider h2 {
    margin-bottom: 10px;
}

/* Override Shib stylings. Not pretty, but we don't produce the underlying HTML here */
#secondary-login-unhider h2, #shib-login label {
    font-size: 16px !important;
    font-weight: bold !important;
}

#shib-login form label  {
    font-size: 100% !important;
    font-weight: normal !important;
}

#request-access {
    text-align: center;
    padding: 15px;
    width: 478px;
}

#research h1 {
    clear: both;
    padding-top: 10px;
}

#research-tabs ul {
    list-style: none;
    margin: 0px;
}

#research-tabs li {
    float: left;
    margin: 2px;
    font-size: 120%;
}

#research-tabs li a, #research-tabs li a:visited {
   display: block;
   background: #c28ed7;
   padding: 10px;
   color: white !important;
}

#research-tabs li a:hover, .research-tabs-active {
   background: #8f32b5 !important;
   color: white;
}

#research-old-interface-link {
    margin-top: 15px;
    padding-top: 5px;
}

#research-record-listing {
    width: 70%;
    margin-bottom: 10px;
}

#research-record-listing td {
    border-top: 1px solid #c28ed7;
    border-bottom: 1px solid #c28ed7;
    padding: 8px;
}

#research-record-listing th {
    font-weight: normal;
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 4px;
}

.research-record-note {
    font-size: 10px;
    width: 180px;
}

#research-solo-citation {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #c28ed7;
    margin-bottom: 20px;
}

#research-q-index-details {
    margin-top: 5px;
    margin-bottom: 20px;
}

#research-q-index-details td {
    padding: 5px;
    border: 1px solid #c28ed7;
    margin-bottom: 10px;
    vertical-align: middle;
    white-space: nowrap;
}

#research-acting-as {
    background: #ffffe5;
    padding: 10px 5px 10px 5px;
    margin: -5px 0px 10px 0px;
}

#research-missing-meta {
    background: #fff5e5;
    padding: 10px 5px 10px 5px;
    margin: -5px 0px 10px 0px;
}

#research-herdc-message {
    background: #e5fff1;
    padding: 10px 5px 10px 5px;
    margin: -5px 0px 10px 0px;
}

#research-refine-filter {
    padding: 5px 5px 5px 5px;
}

.unpublished-pub { background: #f6cbbe; }
.claimed-not-my-pub { background: #ffe2e2; }
.claimed-correction-required { background: #fffeeb; }
.claimed-duplication { background: #e4cbf2; }
.possible-my-pub { background: #d6ffe0; }
.possible-hide { background: #eaeaea; }
.float-left { float:left; }
.float-right{ float:right; }

.upo-staff td {
    padding: 2px 2px 2px 4px;
}

.upo-staff-odd {
    background-color: #f3f3f3;
}

.upo-staff-active {
    background: #ffffe5;
}

#topnav ul li#bgps{
    margin-left:-7px;
}

#topnav ul li#bgps a{
    margin-left:0;
    padding:0;
    background:none;
    background-color:#000;
    border:none;
}

#bgpsReceptacle table tr td{
    background-color:#666;
    padding:5px;
}

#bgpsReceptacle table tr th{
    color:#666;
}

#topnav ul li a#bgpsClose,
#topnav ul li a#bgpsClose:hover{
    cursor:pointer;
    background:none;
    background-color:#999;
    color:#FFF;
    font-weight:bold;
    height:12px;
    width:40px;
    display:block;
}

#regAuthAffil{
    border-collapse: collapse;
    padding: 5px;
    margin: 0;
}

#regAuthAffil .affilOrg{
    width:420px;
}

#regAuthAffil .affilPerc{
    width:100px;
}

#regAuthAffil .affilEd{
    width:25px;
}


/* "Bulk Change Search Key Value" form */
#loading_sek_value{
    background: url('/images/icons/loading.gif') left top no-repeat;
    padding-left: 20px;
    margin: 10px 3px 0px;
    height: 19px;
    display: none;
}

#sek_value_wrapper{
    float:left;
    display: none;
}

#sek_value_wrapper .sek_value_fields{
    margin: 0px;
    float: left;
}

#tr_search_key_value img.ui-datepicker-trigger{
    padding: 7px 0 0 5px;
    cursor: pointer;
    float: left;
}
/* End of: "Bulk Change Search Key Value" form */



/**
 * Admin GUI for ResearcherID Download Request Jobs
 * CSS Style of RID Jobs listing on Admin GUI, URL/manage/rid_jobs.php
 * Used by this file: rid_jobs.tpl.html
 */

H2.adminListHeader{
    padding: 15px 5px 5px;
}

/* Sort & Search Form. We use #content to overwrite css style from #content div. */
#content .adminListSortForm,
#content .adminListSearchForm {
    width: 45%;
    float: left;
    display: block;
    overflow:auto;
    background: #F6F6F6;
    padding: 1px 0 6px;
    margin: 0px;
}

    #content .adminListSearchForm{
        margin:0 5px;
        float: right;
    }

    .adminListSearchForm .button,
    .adminListSortForm .button{
        font-size: 11px;
        cursor: pointer;
        background: #D4D4D4;
        color: #494949;
        margin: 0 5px;
    }
    .adminListSearchForm LABEL{
        padding: 5px 5px 5px 10px;
        font-weight: bold;
    }

    .adminListSortForm LABEL{
        padding: 5px;
        font-weight: bold;
    }
    .adminListSearchText{
        margin: 10px;
    }
    .adminListSearchVal{
        height: 16px;
    }

/* Listing table */
table.adminManageList{
    width: 100%;
}
    table.adminManageList TR.rowHeader{
        cursor: pointer;
    }
    table.adminManageList TR.hoverOn{
        background: #FFFFE6 !important;
    }
    table.adminManageList TH{
        text-align: left;
        padding: 5px 3px;
    }
    table.adminManageList TD{
        padding: 3px;
    }

        /* Faux Toggle buttons*/
        table.adminManageList SPAN.toggleShowBtn,
        table.adminManageList SPAN.toggleHideBtn{
            color: #1E88CE;
            background-image: url('/images/sprite_arrows.png');
            background-repeat: no-repeat;
            padding-left: 15px;
        }

        table.adminManageList SPAN.toggleShowBtn{
            display: block;
            background-position: 2px -113px;
        }
            table.adminManageList TR.toggleOn SPAN.toggleShowBtn{
                display: none;
            }

        table.adminManageList SPAN.toggleHideBtn{
            display: none;
            background-position: 0 -169px;
        }
            table.adminManageList TR.toggleOn SPAN.toggleHideBtn{
                display: block;
            }

        table.adminManageList .rowDetailsNote{
            color: #555555;
            font-style: italic;
            margin-bottom: 1px !important; /* overwrites css on #content div */
        }

/* End of: Admin GUI for ResearcherID Download Request Jobs */


/**
 * General sprite arrows CSS.
 * This is the CSS style for sprite arrows PNG, /images/sprite_arrows.png
 * Can be used anywhere on the site, by either applying the same CSS class or CSS style specified below.
 */
.sprite_arrows {
    background-image: url('/images/sprite_arrows.png');
}
.sprite-down_arrow{
    background-position: 0 0; width: 9px; height: 7px;
}
.sprite-left_arrow{
    background-position: 0 -57px; width: 6px; height: 9px;
}
.sprite-right_arrow{
    background-position: 0 -116px; width: 6px; height: 9px;
}
.sprite-up_arrow{
    background-position: 0 -175px; width: 9px; height: 6px;
}

/* End: General sprite arrows. */


/**
 * Translated title / Language fields trigger.
 * CSS style for elements that are related to Translated / Language fields trigger.
 * Use by: Enter & Edit Metadata forms
 *         - templates/en/workflow/edit_metadata_helpers/field_dual_multiple_language.tpl.html
 *         - templates/en/workflow/enter_metadata_helpers/field_dual_multiple_language.tpl.html
 */
#translated_hint {
    height:30px;
    width:auto;
    display:none;
    padding: 3px 5px;
}

.gotoTranslated{
    text-decoration: underline;
    cursor: pointer;
}
/* End: Translated title / Language fields trigger. */


/**
 * Administration Author management CSS.
 * Usage: templates/en/manage/authors.tpl.html
 */
.rid-author-success{
    color: #0c0;
    font-weight: bold;
}

.rid-author-notsuccess{
    color: #c00;
    font-weight: bold;
}
/* End: Administration Author management CSS. */
/* Sherpa romeo */
.sherpa td        {font: 0.8em Arial, Helvetica, sans-serif; background: #f5f5f5; vertical-align: top;}
.sherpa td.title  {font: 1.1em Arial, Helvetica, sans-serif;}
.sherpa td.blank  {background: white;}
.sherpa td.yellow {background: #FFFF99;}
.sherpa td.blue   {background: #D3ECFA;}
.sherpa td.green  {background: #D0F9D2;}
.sherpa td.white  {background: #FFFFFF;}
.sherpa td ul     {margin-bottom: 0;}

/* Author profile links */
.aut-links {
  float: right;
}

.aut-links ul li {
  float: left;
  margin-left: 10px;
  height: 20px;
}

.aut-links a {
  color: #333 !important;
  line-height: 20px;
  padding: 4px;
}

.aut-links .icon {
  display: inline-block;
}

.aut-links img {
  height: 15px;
  margin-right: 2px;
  margin-top: -2px;
  vertical-align: middle;
}

.aut-links .btn {
  display: block;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
  background-image: -moz-linear-gradient(top,#fff,#dedede);
  background-image: -o-linear-gradient(top,#fff,#dedede);
  background-image: -ms-linear-gradient(top,#fff,#dedede);
  background-image: linear-gradient(top,#fff,#dedede);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: #ccc solid 1px;
  color: #333;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  font-weight: bold;
}

.aut-links .btn:focus, .aut-links .btn:hover, .aut-links .btn:active {
  border-color: #bbb;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#d9d9d9));
  background-image: -moz-linear-gradient(top,#f8f8f8,#d9d9d9);
  background-image: -o-linear-gradient(top,#f8f8f8,#d9d9d9);
  background-image: -ms-linear-gradient(top,#f8f8f8,#d9d9d9);
  background-image: linear-gradient(top,#f8f8f8,#d9d9d9);
}

.editor-condensed-view {
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-size: 9pt;
    width: 100%;
    background-color:#8431A4;
    color: whitesmoke;
    margin: 0px auto;
    display: inline-block;
    padding: 3px 0px
}

.editor-condensed-view form {
    display: inline-block;
}
.editor-condensed-view-inner {
    padding: 0pt;
    width: 1100px;
    margin: 0pt auto;
}

.editor-condensed-view-inner input {
    margin-top: 0px;
}

.editor-condensed-view-inner a:visited, .editor-condensed-view-inner a:link{
    color: #FFFFFF;
}

.addthis_button_tweet {
    width:83px !important;
}

.addthis_pill_style {
    padding-left: 10px;
}

/* Social Media links */
#footer .social-links li{width:32px;height:32px;overflow:hidden;float:left;margin:0 5px 5px 0;padding:0;list-style:none;text-indent:-999px;background:none}
#footer .social-links li a{width:32px;height:32px;display:block;border:0;text-decoration:none;filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8}
#footer .social-links li a:hover{filter:alpha(opacity=100);-moz-opacity:1;opacity:1}
#footer .social-links .icon-facebook a{background:url('/images/footer/icon-w-facebook-32.png') no-repeat 0 0}
#footer .social-links .icon-twitter a{background:url('/images/footer/icon-w-twitter-32.png') no-repeat 0 0}
#footer .social-links .icon-flickr a{background:url('/images/footer/icon-w-flickr-32.png') no-repeat 0 0}
#footer .social-links .icon-instagram a{background:url('/images/footer/icon-w-instagram-32.png') no-repeat 0 0}
#footer .social-links .icon-youtube a{background:url('/images/footer/icon-w-youtube-32.png') no-repeat 0 0}
#footer .social-links .icon-vimeo a{background:url('/images/footer/icon-w-vimeo-32.png') no-repeat 0 0}
#footer .social-links .icon-itunesu a{background:url('/images/footer/icon-w-apple-32.png') no-repeat 0 0}
#footer .social-links .icon-linkedin a{background:url('/images/footer/icon-w-linkedin-32.png') no-repeat 0 0}

/* Ands map */
#spatial_coverage_map {
    width: 440px;
    height: 320px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#spatial_coverage_map div {
    margin-bottom: 0px;
}
