/* Webkit */
::selection {
    background: #FFFF00;
    color: #000000;
}
/* Gecko/Mozilla */
::-moz-selection {
    background: #FFFF00;    
    color: #000000;
}
.search > div > div[id=wrapper]{
    /*box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);*/
}
.page > div > div[id=wrapper]{
    /*box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);*/
}
.single > div > div[id=wrapper]{
    /*box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);*/
}
.widget-wrapper{
    /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);*/
}
.thumbnail{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.search_group{
    /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);*/
}
#search_btn{
    /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);*/
}
fieldset{
    /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);*/
}