@charset "utf-8";
/* CSS Document 
Author:Tejaswini
Website:http://www.clickonf5.org
*/
/*Smooth Slider specific styles*/
.smooth_slider_fouc .smooth_slider {display: none;}
.smooth_slider div,.smooth_slider p,.smooth_slider li,.smooth_slider span,.smooth_slider img,.smooth_slider h2,.smooth_slider ul{list-style:none;background:transparent;vertical-align:baseline;}
.smooth_slider{padding:0 5px;}
.smooth_slider .sldr_title{margin:5px 0 10px 0;}
.smooth_slider span{display:inline;overflow:hidden;margin: 10px auto;line-height:18px;}
.smooth_slider .smooth_sliderb{position:relative;}
.smooth_slider .smooth_slideri{position:absolute;}
.smooth_slider a{text-decoration:none !important;}
.smooth_slider h2{clear:none;display:block;padding:0px;}
.smooth_slider p.smooth_more{margin:0;}
.smooth_slider p.smooth_more a{text-decoration:underline !important;float:right;}
.smooth_slider p.smooth_more a:hover{text-decoration:none;}
/* HKUST customization start */
.slider_content p{
	font-family:Verdana,Geneva,sans-serif;
	font-size:12px !important;
	font-weight:normal !important;
	font-style:normal;
	color:#595959;
	line-height: 18px !important;
	text-align: left !important;
	padding: 0px !important;
	margin: 0px !important;
}
sup {
	vertical-align: top !important;
	position: relative !important;
	top: -0.5em !important;
	font-size: 0.6em !important;
}
sub {
	vertical-align: bottom !important;
	position: relative !important;
	top: 0.5em !important;
	font-size: 0.6em !important;
}
/* HKUST customization end */

.sldrbr{line-height:1px;}
.sldrlink{display:block;font-size:8px;font-family:Verdana, Helvetica, sans-serif;}
.sldrlink a{position:absolute;bottom:0;right:5px;margin:10px auto;color:#333333;}
.sldr_clearlt{display:block;visibility:hidden;clear:left;height:0;content:".";}
.sldr_clearrt{display:block;visibility:hidden;clear:right;height:0;content:".";}

/*Navigation */
/* Next and Previous navigational arrows */
.smooth_slider .smooth_next {position: absolute;right: 0px;top:45%; width: 24px; height: 24px; cursor: pointer; background: transparent url(buttons/default/next.png) no-repeat 0 0;}
.smooth_slider .smooth_prev { position: absolute;left: 0px;top:45%; width: 24px; height: 24px; cursor: pointer; background: transparent url(buttons/default/prev.png) no-repeat 0 0;}

/*Navigation numbers*/
.smooth_slider .smooth_nav { position:absolute;bottom:0px;text-align:center;margin: 10px auto;}
.smooth_slider .smooth_nav a.smooth_slider_nnav { padding: 2px 6px; margin: 3px; border: 1px solid #ccc; text-align: center; text-decoration: none; font-weight:normal;}
.smooth_slider .smooth_nav a.smooth_slider_nnav.activeSlide { font-weight:bold;background-color: #efefef ; }
.smooth_slider .smooth_nav a.smooth_slider_nnav:focus { outline: none; }
.smooth_slider .smooth_nav a.smooth_slider_inav{display:block;float:left;}
.smooth_slider .smooth_nav a.smooth_slider_bnav{background: transparent url(buttons/default/nav.png) no-repeat 0 0;margin:0 3px;}	