.login-link {
	background: #ffffff;  
}
.site-header.light {
    background-color: #ffffff;
}

.genesis-nav-menu a {
    color: #000;
}

.front-page-5 .image-section {
	color: #333;
}
.front-page-5 .flexible-widgets {
    padding: 140px 0 40px;
}

.front-page-6 .flexible-widgets {
    padding: 0px 0 40px;
}

.front-page-7 ul {
	width: 50%;
    margin: auto;
    text-align: left;
}
.front-page-7 ul li {
	list-style: inherit;
}

.front-page-8 .flexible-widgets {
    padding: 20px 0 0px;
}

.front-page-9 .flexible-widgets {
    padding: 20px 0 0px;
}
.front-page-9 .featured-content .entry {
    display: inline-block;
    width: 30%;
    vertical-align: bottom;
}

.footer-widgets {
    background-color: #505050;
}
.footer-widgets .footer-widgets-1 {
 	width: 45%;
  	text-align: center;
}
.footer-widgets .footer-widgets-2 {
 	float: right; 
    width: 45%;
    text-align: right;
}
.footer-widgets .footer-widgets-1 h4 {
  	text-align: left;
}
.footer-widgets .footer-widgets-1 p {
 	text-align: left;
}
.footer-widgets input {
 	width: 30%; 
}

.footer-widgets .enews-widget input[type="submit"] {
    margin-left: -10px;
    width: 30%;
}
.footer-widgets .widget.wpcw-widget-social {
    margin-bottom: 0px;
}

.pardot-footer-form p.required {
	width: 30%;
    display: inline-block;
    margin-right: 5px;
}
.pardot-footer-form form.form input.text {
 	width: 100%; 
}
.pardot-footer-form form.form select {
 	width: 100%; 
}
.site-header{    background-color: #fff;}

.entry-meta .entry-time,
.entry-meta .entry-author,
.entry-meta .entry-categories,.entry-meta .post-edit-link, .single-post article header .entry-meta ,article .su-posts .su-post-meta, article .su-posts .su-post-comments-link{
    display: none;
}
.page-id-23 .entry-content .vc_grid-item .vc_gitem-zone .vc_gitem-post-data-source-post_excerpt{
    display: none;
}
.widget.widget_categories ul .cat-item-1 ,ul .cat-item-44 ,ul .cat-item-43{
      display: none;
}

.su-tabs-panes ul.tabs li{
    display: inline-block;
    width: 19%;
    margin: 4px;
}
.su-tabs-panes ul.tabs{
 margin-left: 0px; 
  list-style-type: none;
}
#wpsl-search-wrap div label {
    width: auto;
}
.wpsl-dropdown .wpsl-selected-item, .wpsl-dropdown li, .wpsl-selected-item {
    padding: 7px 10px !important;
}
input#wpsl-search-btn {
    background-color: #000 !important;
    color: white;
    background-image: none;
    border-color: #000;
    max-width: 100%;
    width: 100px;
    height: 43px;
}
.wpsl-dropdown {
    width: 100px;
}

div#home-mid-left {
    margin-top: 100px !important;
}

div#home-mid-right {
    margin-top: 60px !important;
}

@media only screen and (max-width: 500px) {
.front-page-2 .enews-widget input {
    width: 100%;
}
}

@media only screen and (max-width: 500px) {
.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    width: 100% !important;
}
}

@media only screen and (max-width: 500px) {
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 100% !important;
}
}

@media only screen and (max-width: 500px) {
h2.woocommerce-loop-product__title {
    font-size: 2rem !important;
}
}

@media only screen and (max-width: 500px) {
.front-page-1 {
    max-height: 200px;
}
}

@media only screen and (max-width: 800px) {
.page-id-504 .vc_custom_1506623922974 {
    padding-bottom: 0px !important;
    background-size: 500px !important;
}
}

@media only screen and (max-width: 800px) {
.page-id-10436 .vc_custom_1506540377108 {
    padding-bottom: 0px !important;
    background-size: 500px !important;
}
}

@media only screen and (max-width: 800px) {
.page-id-10407 .vc_custom_1506624252396 {
    padding-bottom: 0px !important;
    background-size: 500px !important;
}
}

@media only screen and (max-width: 800px) {
.page-id-10335 .vc_custom_1506624435950 {
    padding-bottom: 0px !important;
    background-size: 500px !important;
}
}

@media only screen and (max-width: 800px) {
.page-id-10356 .vc_custom_1503951636436 {
    padding-bottom: 0px !important;
    background-size: 500px !important;
}
}

/*****************Added on 8 November 2017 ***************************/

.page-id-10139 .entry-title{
	display:none;
}

/*****************Added on 30 November 2017 ***************************/
iframe.ytvideo {
    height: 315px;
    width: 600px;
}

/*****************Added on 25 April 2018 ***************************/
.front-page-10 .solid-section {
    background-color: #00699C !important;
    background-image: url(//insightcla.com/wp-content/uploads/2018/04/INSIGHTMEDIA_FEATURED.png);
    box-shadow: inset 0 0 0 2000px #00699cba;
    background-repeat: no-repeat;
}

.front-page-10 a {
    color: white;
}

.front-page-10 a:hover {
    color: #ee7700;
}

section#text-36 {
    color: white;
}

.front-page-10 li {
    list-style: inherit;
}

.front-page-10 ul {
    width: 50%;
    margin: auto;
    text-align: left;
}


.page-id-11851 .vc_custom_1525725337922 {
    padding-top: 80px !important;
    padding-bottom: 20px !important;
}

h2.woocommerce-loop-product__title {
    text-align: left !important;
}

@media only screen and (max-width: 800px) {
.front-page-9 .featured-content .entry {
    width: 100%;
}
}

.woocommerce p.entry-meta {
    display: none;
}





.page-id-12475 .woocommerce ul.products li.product {
    width: 88% !important;
    text-align: left !important;
}

.woocommerce.quick-sale h2 {
    font-size: 21px;
    text-align: center !important;
    width: 153px;
}

.woocommerce.quick-sale span.price {
    text-align: center;
    width: 142px;
}

.woocommerce.quick-sale a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    font-size: 10px;
    width: 143px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
}






#gform_widget-2 .gform_wrapper .gfield_required {
    display: none;
}

#gform_widget-2 .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    font-size: inherit;
    font-family: inherit;
    padding: 12px 12px !important;
    letter-spacing: normal;
    border-radius: 4px;
}

#gform_widget-2 input#gform_submit_button_6 {
    padding-left: 55px;
    padding-right: 55px;
    background-color: #000 !important;
}

#gform_widget-2 input#gform_submit_button_6:hover {
    background-color: #00699C !important;
}

#gform_widget-2 .gform_footer.top_label {
    text-align: center;
    margin-top: -15px;
}







#gform_widget-3 .gform_wrapper .gfield_required {
    display: none;
}

#gform_widget-3 .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    font-size: inherit;
    font-family: inherit;
    padding: 12px 12px !important;
    letter-spacing: normal;
    border-radius: 4px;
}

#gform_widget-3 input#gform_submit_button_4 {
    background-color: #000 !important;
}

#gform_widget-3 .gform_body {
    margin-left: 9px;
}

#gform_widget-3 .gform_footer.top_label {
    margin-left: 9px;
}

#gform_widget-3 .gform_footer.top_label {
    text-align: center;
}

.widget ol > li {
    list-style-type: none !important;
}




.front-page-1 {
    max-height: 609px;
    margin-top: 100px;
}



.front-page-2 .image-section h4 {
    color: #000 !important;
}

.front-page-2 .image-section p {
    color: #000 !important;
}

.front-page-2 .image-section {
    background-color: #f3f3f3 !important;
}

section#gform_widget-3 {
    background-color: #d4d3d3;
}

#gform_widget-3 input#gform_submit_button_4:hover {
    background-color: #00699C !important;
}




@media only screen and (max-width: 769px) {
.gform_wrapper input.medium {
    width: 96% !important;
}
}

@media only screen and (max-width: 769px) {
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    width: 91% !important;
    float: left !important;
}
}

.button {
    background-color: #000 !important;
}

.front-page-9 {     
background-image: none !important; 
}

.front-page-9 {    
 background-color: #ededed !important; 
}

.image-section, .image-section a {     
color: #000 !important; 
}

button {
    background-color: #000 !important;
}

.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    background-color: #000 !important;
}

#gform_widget-2 input#gform_submit_button_6 {
    padding-left: 55px;
    padding-right: 55px;
    background-color: #000 !important;
    border-color: #000 !important;
}


.page-id-12885 .entry-header {
    display: none !important;
}

.page-id-12885 label.gfield_label {
    display: none !important;
}

.page-id-12885 input#gform_submit_button_18 {
    background-color: #ee7700 !important;
}

.page-id-12885 div#genesis-footer-widgets {
    display: none !important;
}

.page-id-13100 .entry-header {
    display: none !important;
}

.page-id-13088 td {
    border-top: none !important;
}

div#button29836021 a {
    font-size: 20px !important;
    font-weight: 700;
    padding-left: 45px;
    padding-right: 45px;
}

section#text-11 {
    color: #fff !important;
}

#text-11 a {
    color: #fff !important;
}

button#tribe-bar-collapse-toggle {
    background: #fbfbfb !important;
}

button#tribe-bar-views-toggle {
    background-color: #fbfbfb !important;
}

.woocommerce .cart .button {
    color: #fff !important;
}

.page-tribe-attendee-registration aside#genesis-sidebar-primary {
    display: none !important;
}

.page-tribe-attendee-registration .archive-pagination.pagination {
    display: none !important;
}

button#wpforms-submit-11387 {
    background-color: #000 !important;
    color: #fff !important;
}




.single-product .sidebar {
    display: none !important;
}


.single-product .content {
    width: 1013px;
}

.footer-widgets a {
    font-size: 15px;
}