@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
/*font-family: 'Open Sans', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
/*font-family: 'Playfair Display', serif;*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
/*font-family: 'Lato', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*font-family: 'Montserrat', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700italic,700);
/*font-family: 'PT Serif', serif;*/
@import url(https://fonts.googleapis.com/css?family=Mate:400,400italic);
/*font-family: 'Mate', serif;*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,400italic,300italic,700,500italic,500,700italic);
/*font-family: 'Roboto', sans-serif;*/
/*boxes css*/


/*==  first author   ==*/
.author-first-inner {background-color: #ffffff; padding: 14px 21px;	-moz-border-radius: 10px;/*Firefox*/-webkit-border-radius: 10px;/*Safari, Chrome*/border-radius: 10px;cursor: pointer;}
.author-first-inner .thumb { -moz-border-radius: 100px;/*Firefox*/-webkit-border-radius: 100px;/*Safari, Chrome*/border-radius: 100px;  float: left;  overflow: hidden;  width: 100px; height: 100px;}
/* .clearfix{clear: both;} */
.author-first-inner  .tweet-text { color: #272727;   float: right;width: 78%;}
.author-first-inner  .tweet-text  p {font-size: 24px; margin: 7px 0 35px;}
.author-first-inner .thumb img { display: block; width: 100%; height: 100%;}
.author-first-inner .lower-btn > label { color: #9f9f9f;  font-size: 17px; float:left; font-family: "Open Sans";}
.author-first-inner .lower-btn > a { border: 1px solid #c8e4e5; color: #c8e4e5; padding: 7px 18px 8px 48px;  font-weight: bold;  margin: 0 25px 18px0;  float: right;  text-decoration: none;  color: #00b6e6; font-size: 16px;  -moz-border-radius: 20px;/*Firefox*/-webkit-border-radius: 20px;/*Safari, Chrome*/ border-radius: 20px; background-image: url("img/twitter-single.png"); background-repeat: no-repeat; background-position: 15px 13px; background-size: 15px; line-height: normal; font-family: "Open Sans";}
.author-first-inner:hover .tweet-text p  {color: #e53935; }
 .author-first-inner:hover   .lower-btn  a{color: #e53935; border: 1px solid #e53935; background-image: url("img/tweet-hover.png"); background-position: 15px 13px; background-size: 15px;}


 /*==  second author   ==*/
.author-second-inner { padding: 14px 21px;cursor: pointer;
background-image: url("img/second-bg.png"); background-repeat: no-repeat; background-size: 100% 100%;
}
.author-second-inner .thumb { -moz-border-radius: 100px;/*Firefox*/-webkit-border-radius: 100px;/*Safari, Chrome*/border-radius: 100px;  float: left;  overflow: hidden;  width: 100px; height: 100px;}
/* .clearfix{clear: both;} */
.author-second-inner .tweet-text { color: #272727;   float: right;width: 78%;}
.author-second-inner .tweet-text p {font-size: 24px; margin: 0px 0 0px; font-style: italic; padding-left: 5%;}
.author-second-inner .tweet-text .lower-btn { padding-left: 5%;}
.author-second-inner .thumb  img { display: block; height: 100%;}


.author-second-inner .lower-btn label {
    font-size: 17px;
    font-style: italic;
    text-transform: uppercase; color: #9f9f9f;
    margin: 22px 0 15px;
     display: inline-block;

    font: 16px 'Playfair Display', Georgia, serif;
}
.author-second-inner .lower-btn > a {
  background-image: url("img/twitter-single.png");
  background-repeat: no-repeat;
  background-size: 19px auto;
  color: #00b6e6;
  float: right;
  font-size: 16px;
  margin: 0 51px 22px 0;
  padding: 0 0 6px 42px;
  text-decoration: none;
  font-style: italic;
  float: right;
  color: #00b6e6;
  margin: 20px 0 10px;
  background-position: 15px 7px;
  background-size: 15px;
}
.author-second-inner:hover .tweet-text p  {color: #e53935; }
.author-second-inner:hover .lower-btn > a{background-image: url("img/tweet-hover.png"); color: #e53935;}




 /*==  third author   ==*/
.author-third-inner { padding: 40px 0 0 0; cursor: pointer;background-color: transparent; text-decoration: none !important; width: 100%; box-sizing: border-box; display: block; border: none;}
.author-third-inner .thumb { -moz-border-radius: 100px;/*Firefox*/-webkit-border-radius: 100px;/*Safari, Chrome*/border-radius: 100px;  float: left;  overflow: hidden;  width: 100px; padding: 0 3% 5% 5%; height: 100px;}
/* .clearfix{clear: both;} */
.author-third-inner .tweet-text { color: #272727;   float: right;width: 73%;}
.author-third-inner .tweet-text p { display: inline-block; position: relative; border-left: 1px solid #ededed; padding: 0 5% 0 30px; font: 24px "Playfair Display", Georgia, serif; font-style: italic; line-height: 1.2; color: #666666;}
.author-third-inner .thumb  img { display: block; border-radius: 50%; height: 100%; width: 100%;}
.author-third-inner .lower-btn label { font: 15px 'Open Sans', Arial, sans-serif;     font-weight: 700;     color: #314046;    margin: 22px 0 15px;    padding-left: 30px;    display: inline-block;}

.author-third-inner blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 0px;
  margin: 0px;
  background-image: url("img/Quote.png");
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
   border-left: 1px solid #fff;
   background-position: 8px 9px;
   background-size: 20px;
  }
.author-third-inner blockquote.style1 p {
  /*background-image: url("img/twitter-single.png");*/
  /*background-position: 369px 47px;*/
  background-position: 54% 99%;
  background-repeat: no-repeat;
  background-size: 19px auto;
  display: block;
  padding: 0 0 0 30px;
  margin: 0 auto;
  text-indent: 0;
  background-size: 15px;
}
.author-third-inner:hover blockquote.style1 p { background-color: yellow;background-clip: content-box;}

.row.author-nm{display: none;}

.ctt-setting-container{width: 100%; display: block;}
.ctt-setting-container .ctt-left{width: 30%; float: left;}
.ctt-setting-container .ctt-right{width: 69%; float: right;}


/*boxes css*/

/*new changes 1-2-16*/

.tweet-box .click-to-tweet i { display: inline-block;width: 16px; height: 14px; background: url("../images/sprite-twitter.png") no-repeat; margin-right: 3px; position: relative; top: 2px;}
.dis-hint .set-output { width: 44%;}
.col-preview { margin-top: 20px; float: left;}
.dis-hint .set-settings { width: 53%;}
.dis-hint .set-settings label { font-size: 15px;}
.wp-admin .set-settings select, .wp-admin .set-settings input[type="text"] { width:60%; height: 40px; appearance: none; -moz-appearance:none; -webkit-appearance: none;}

.ctt-wrap{ background: #fff; padding: 10px; border: 4px solid #DCDCDC; margin: 10px 20px 0 2px;}
.ctt__settings h3 { font-size: 17px; color: #2B6FB6;}
.box-design, .hint-box-container { border: 1px solid #E4E4E4; padding:20px; display: inline-block;}
.box-design > p { font-size: 14px; text-align: justify; color: #7c7c7c; font-family: "Open Sans",sans-serif !important;}
.ctt-mrsetting ul#ctt-tabmenu li.active a, .ctt-mrsetting ul#ctt-tabmenu li:hover a, .ctt-mrsetting ul#ctt-tabmenu li.current a { box-shadow: none;}

/*box-desiging*/
input[value="Save"], #save_settings {  border: 0; padding: 8px 20px;  border-radius: 2px; box-shadow: 3px 3px 0px rgba(0,0,0,0.1);color: #fff; background: #00B9E6;}
.tweet-box { display: inline-block; padding: 15px 30px; margin: 15px 0px; }
.tweet-box p { margin: 0 auto;}
.tweet-box .click-to-tweet { margin: 0; padding: 0; position: relative; display: block; text-transform: uppercase; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 100%; color: #999999; float: right; padding-right: 24px; text-decoration: none; /*background: transparent url(twitter-button.png) no-repeat right center;*/}

/*first box*/
.tweet-box.ctt-box-design-1 { margin: 0 auto;}
.tweet-box.ctt-box-design-1 { border: 5px solid #e5e5e5; padding: 33px 40px 19px; margin: 15px 0px; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
/*first-box second variant*/
.tweet-box.ctt-box-design-1.ctt-color-1 { border: 5px solid #eff1e5;}
.tweet-box.ctt-box-design-1.ctt-color-1:hover { border: 5px solid #f38630;}
.tweet-box.ctt-box-design-1.ctt-color-1:hover .click-to-tweet { color: #f38630;}
.tweet-box.ctt-box-design-1.ctt-color-1:hover .click-to-tweet i { background-position: 0 -458px;}
/*first-box third variant*/
.tweet-box.ctt-box-design-1.ctt-color-2 { border: 5px solid #9cccec;}
.tweet-box.ctt-box-design-1.ctt-color-2:hover { border: 5px solid #eb7260;}
.tweet-box.ctt-box-design-1.ctt-color-2 .click-to-tweet { color: #3a9ad9;}
.tweet-box.ctt-box-design-1.ctt-color-2:hover .click-to-tweet { color: #eb7260;}
.tweet-box.ctt-box-design-1.ctt-color-2 .click-to-tweet i { background-position: 0 -299px;}
.tweet-box.ctt-box-design-1.ctt-color-2:hover .click-to-tweet i { background-position: 0 -472px;}

.tweet-box.ctt-box-design-1 a { text-decoration: none;}
.tweet-box.ctt-box-design-1 p { font-size: 30px; color: #333333; line-height: normal;     font: 30px/38px "Montserrat",sans-serif; margin: 0 auto;}
.tweet-box:after { display: none;}
.tweet-box.ctt-box-design-1:hover .click-to-tweet { color: #00b9e6;}
.tweet-box.ctt-box-design-1:hover { border-color: #00b9e6; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.tweet-box.ctt-box-design-1 .click-to-tweet { color: #CCC; line-height: 22px; font-size: 14px; text-transform: none; font-family: "Montserrat",sans-serif; font-weight: normal; letter-spacing: 0; padding-right: 0; transition: all 0.2s ease-out 0s; float: right; padding-top: 12px;}
.tweet-box.ctt-box-design-1 .click-to-tweet i { background-position: 0 -402px;}
.tweet-box.ctt-box-design-1:hover .click-to-tweet i, .tweet-box.ctt-box-design-2 .click-to-tweet i, .tweet-box.ctt-box-design-3 .click-to-tweet i { background-position: 0 -299px;}


/*second box*/
.tweet-box.ctt-box-design-2 { padding: 37px; background: #FDFDFD none repeat scroll 0% 0%; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); border: 0; border-radius: 0; transition: all 0.2s ease-out 0s;}
.tweet-box.ctt-box-design-2 p { font: 30px/38px "PT Serif",serif; color: #7B7B7B; display: inline-block;}
.tweet-box.ctt-box-design-2 .click-to-tweet { color: #999; text-transform: none; font-size: 14px; font-weight: normal; float: left; font-family: 'Open Sans', sans-serif; opacity: 0.7; filter: alpha(opacity=70); margin-top: 29px; padding-top: 13px;  border-top: 1px solid rgb(229, 229, 229); width: 100%; padding-top: 12px;}
.tweet-box.ctt-box-design-2:hover { box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);}
.tweet-box.ctt-box-design-2:hover p { color: #666;}

/*second-box second variant*/
.tweet-box.ctt-box-design-2.ctt-color-1 { background-color: #eff1e5;}
.tweet-box.ctt-box-design-2.ctt-color-1:hover {     background-color: #f38630;}
.tweet-box.ctt-box-design-2.ctt-color-1:hover p {    color: #ffffff;}
.tweet-box.ctt-box-design-2.ctt-color-1 .click-to-tweet { color: #cccccc; opacity: 1;}
.tweet-box.ctt-box-design-2.ctt-color-1:hover .click-to-tweet { color: #ffffff; opacity: 1;}
.tweet-box.ctt-box-design-2.ctt-color-1 .click-to-tweet i { background-position: 0 -402px;}
.tweet-box.ctt-box-design-2.ctt-color-1:hover .click-to-tweet i {     background-position: 0 -486px;}

/*second-box third variant*/
.tweet-box.ctt-box-design-2.ctt-color-2 { background-color: #f7f7f7;}
.tweet-box.ctt-box-design-2.ctt-color-2:hover {     background-color: #00ccd6;}
.tweet-box.ctt-box-design-2.ctt-color-2:hover p {    color: #ffffff;}
.tweet-box.ctt-box-design-2.ctt-color-2 .click-to-tweet { color: #cccccc; opacity: 1;}
.tweet-box.ctt-box-design-2.ctt-color-2:hover .click-to-tweet { color: #ffffff; opacity: 1;}
.tweet-box.ctt-box-design-2.ctt-color-2 .click-to-tweet i { background-position: 0 -402px;}
.tweet-box.ctt-box-design-2.ctt-color-2:hover .click-to-tweet i {     background-position: 0 -486px;}

/*third box*/
.tweet-box.ctt-box-design-3{ transition: all 0.2s ease-out 0s; background: #F7F7F7 none repeat scroll 0% 0%; border-radius: 0px; border: 0px none; padding: 25px 30px;}
.tweet-box.ctt-box-design-3 p { color: #333; padding: 10px; font: 30px/38px "Open Sans",sans-serif; display: inline-block;}
.tweet-box.ctt-box-design-3 .click-to-tweet { color: #00B6E6; font: 14px "Open Sans",sans-serif; text-transform: none; padding-right: 0;  padding-top: 12px;}
.tweet-box.ctt-box-design-3:hover {    background: #333 none repeat scroll 0% 0%;}
.tweet-box.ctt-box-design-3:hover p {     color: #ccc;}
.tweet-box.ctt-box-design-3:hover .click-to-tweet { color: #fff;}

/*third-box second variant*/
.tweet-box.ctt-box-design-3.ctt-color-1 { background-color: #e9e0d6;}
.tweet-box.ctt-box-design-3.ctt-color-1:hover { background-color: #354458;}
.tweet-box.ctt-box-design-3.ctt-color-1:hover p {    color: #ffffff;}
.tweet-box.ctt-box-design-3.ctt-color-1 .click-to-tweet { color: #00b6e6;}
.tweet-box.ctt-box-design-3.ctt-color-1:hover .click-to-tweet { color: #ffffff; opacity: 1;}
.tweet-box.ctt-box-design-3.ctt-color-1 .click-to-tweet i { background-position: 0 -299px;}
.tweet-box.ctt-box-design-3.ctt-color-1:hover .click-to-tweet i {     background-position: 0 -486px;}

/*third-box third variant*/
.tweet-box.ctt-box-design-3.ctt-color-2 { background-color: #efefef;}
.tweet-box.ctt-box-design-3.ctt-color-2:hover { background-color: #ffd900;}
.tweet-box.ctt-box-design-3.ctt-color-2:hover p {    color: #333;}
.tweet-box.ctt-box-design-3.ctt-color-2 .click-to-tweet { color: #00b6e6;}
.tweet-box.ctt-box-design-3.ctt-color-2:hover .click-to-tweet { color: #333;}
.tweet-box.ctt-box-design-3.ctt-color-2 .click-to-tweet i { background-position: 0 -299px;}
.tweet-box.ctt-box-design-3.ctt-color-2:hover .click-to-tweet i { background-position: 0 -444px;}


/*fourth box*/
.tweet-box.ctt-box-design-4 { border: 5px solid rgb(174, 212, 238); border-radius: 0px; padding: 37px 25px; text-align: center; transition: all 0.2s ease-out 0s;}
.tweet-box.ctt-box-design-4 a { text-decoration: none;}
.tweet-box.ctt-box-design-4 p { color: #878787; text-align: center; font-size: 24px; line-height: 30px; text-align: center; font-family: "Mate",serif; text-align: center; margin-bottom: 10px;    word-wrap: break-word;}
.tweet-box.ctt-box-design-4 .click-to-tweet { font-family: "Roboto",sans-serif; text-transform: none; font-weight: normal; float: none; color: #17B8E6; font-family: "Roboto",sans-serif; font-size: 12px; line-height: 22px; padding: 6px 19px; display: inline-block; border-radius: 4px;  margin-top: 30px;}
.tweet-box.ctt-box-design-4 .click-to-tweet i { background-position: 0 -299px;}
.tweet-box.ctt-box-design-4:hover .click-to-tweet i { background-position: 0 -486px;}
.tweet-box.ctt-box-design-4:hover {     border: 5px solid #17B8E6;}
.tweet-box.ctt-box-design-4:hover p { color: #878787; text-align: center; text-align: center; font-family: "Mate",serif; text-align: center;     text-decoration: underline;}
.tweet-box.ctt-box-design-4:hover .click-to-tweet { background: #17B8E6; color: #fff;}

/*fourth-box second variant*/
.tweet-box.ctt-box-design-4.ctt-color-1 { border: 5px solid #fcc4af;}
.tweet-box.ctt-box-design-4.ctt-color-1:hover { border: 5px solid #775ba3;}
.tweet-box.ctt-box-design-4.ctt-color-1 .click-to-tweet { background-color: transparent; color: #f98a5f;}
.tweet-box.ctt-box-design-4.ctt-color-1:hover .click-to-tweet { background-color: #775ba3; color: #ffffff;}
.tweet-box.ctt-box-design-4.ctt-color-1 .click-to-tweet i { background-position: 0 -458px;}
.tweet-box.ctt-box-design-4.ctt-color-1:hover .click-to-tweet i { background-position: 0 -486px;}

/*fourth-box third variant*/
.tweet-box.ctt-box-design-4.ctt-color-2 { border: 5px solid #fde7ac;}
.tweet-box.ctt-box-design-4.ctt-color-2:hover { border: 5px solid #de5842;}
.tweet-box.ctt-box-design-4.ctt-color-2 .click-to-tweet { background-color: transparent; color: #fcd059;}
.tweet-box.ctt-box-design-4.ctt-color-2:hover .click-to-tweet { background-color: #de5842; color: #ffffff;}
.tweet-box.ctt-box-design-4.ctt-color-2:hover p { color: #de5842;}
.tweet-box.ctt-box-design-4.ctt-color-2 .click-to-tweet i { background-position: 0 -430px;}
.tweet-box.ctt-box-design-4.ctt-color-2:hover .click-to-tweet i { background-position: 0 -486px;}

/*fifth-box*/
.tweet-box.ctt-box-design-5 { box-shadow: 4px 4px 0px 0px #EBEBEB; border: 0px none; border-radius: 0px; background: #49C5E6 none repeat scroll 0% 0%; padding: 0px; transition: all 0.2s ease-out 0s; -webkit-box-shadow: 4px 4px 0px 0px #ebebeb;  -moz-box-shadow: 4px 4px 0px 0px #ebebeb; box-shadow: 4px 4px 0px 0px #ebebeb;}
.tweet-box.ctt-box-design-5 p { padding-top: 37px; padding-right: 115px; padding-left: 29px; padding-bottom: 30px !important; font-size: 24px; line-height: 36px; font-family: "Roboto",serif; font-weight: 300; transition: all 0.2s ease-out 0s; position: relative; z-index: 1; display: inline-block; color: rgb(255, 255, 255); margin-bottom: 0;}
.tweet-box.ctt-box-design-5:after { position: absolute; font-size: 14em; line-height: 203px; right: -10px; color: rgba(255,255,255,0.2);}
.tweet-box.ctt-box-design-5 .click-to-tweet { display: block; padding: 8px 10px 10px 0px; font: 12px 'Roboto', Verdana, sans-serif; font-weight: 300; line-height: 20px; position: relative; color: white;     background-color: #2fa2c1; box-sizing: border-box; text-align: right; width: 100%; z-index: 1; text-transform: none;}
.tweet-box.ctt-box-design-5 .click-to-tweet i { background-position: 0 -299px;}
.tweet-box.ctt-box-design-5:hover .click-to-tweet i { background-position: 0 -486px;}
.tweet-box.ctt-box-design-5:hover p { background-color: #dcdcdc; color: #676767; text-decoration: underline;}
.tweet-box.ctt-box-design-5 p:before {    content: ''; opacity: 0.16; filter: alpha(opacity=16); width: 219px;height: 178px; position: absolute;right: 0px; top: 20px; background: url("../images/box_05_bg.png") no-repeat top center;  z-index: -1;}
.tweet-box.ctt-box-design-5 .click-to-tweet:before { content: ''; position: absolute; left: 0px; bottom: -16px; border: 8px solid transparent; border-top: 8px solid #298ba4; border-right: 8px solid #298ba4;}

/*fifth-box second variant*/
.tweet-box.ctt-box-design-5.ctt-color-1 { background-color: #c3d7df; color: #67727a;}
.tweet-box.ctt-box-design-5.ctt-color-1:hover { background-color: #f5f5f5; color: #676767;}
.tweet-box.ctt-box-design-5.ctt-color-1 .click-to-tweet { background-color: #6991ac;}
.tweet-box.ctt-box-design-5.ctt-color-1:hover .click-to-tweet { background-color: #d75c37; color: #ffffff;}
.tweet-box.ctt-box-design-5.ctt-color-1 p { color: #67727a}
.tweet-box.ctt-box-design-5.ctt-color-1:hover p {     background-color: #f5f5f5; color: #676767;}
.tweet-box.ctt-box-design-5.ctt-color-1 .click-to-tweet i { background-position: 0 -486px;}
.tweet-box.ctt-box-design-5.ctt-color-1:hover .click-to-tweet i { background-position: 0 -486px;}
.tweet-box.ctt-box-design-5.ctt-color-1:hover p:before {    content: ''; opacity: 0.75; filter: alpha(opacity=70);}
.tweet-box.ctt-box-design-5 .click-to-tweet.ctt-color-1:before { border: 8px solid transparent; border-top: 8px solid #67727a; border-right: 8px solid #67727a;}
.tweet-box.ctt-box-design-5.ctt-color-1:hover .click-to-tweet:before {     border-top: 8px solid #b84421;  border-right: 8px solid #b84421;}

/*fifth-box second variant*/
.tweet-box.ctt-box-design-5.ctt-color-2 { background-color: #e2d893; color: #67727a;}
.tweet-box.ctt-box-design-5.ctt-color-2:hover { background-color: #73afb6; color: #676767;}
.tweet-box.ctt-box-design-5.ctt-color-2 .click-to-tweet { background-color: #a79e65;}
.tweet-box.ctt-box-design-5.ctt-color-2:hover .click-to-tweet { background-color: #5f9da1; color: #ffffff;}
.tweet-box.ctt-box-design-5.ctt-color-2 p { color: #2b2301}
.tweet-box.ctt-box-design-5.ctt-color-2:hover p {     background-color: #73afb6; color: #ffffff;}
.tweet-box.ctt-box-design-5.ctt-color-2 .click-to-tweet i { background-position: 0 -486px;}
.tweet-box.ctt-box-design-5.ctt-color-2:hover .click-to-tweet i { background-position: 0 -486px;}
.tweet-box.ctt-box-design-5.ctt-color-2 .click-to-tweet:before { border: 8px solid transparent; border-top: 8px solid #787147; border-right: 8px solid #787147;}
.tweet-box.ctt-box-design-5.ctt-color-2:hover .click-to-tweet:before {    border-top: 8px solid #437d81; border-right: 8px solid #437d81;}

/*sixth box*/
.tweet-box.ctt-box-design-6 { background: #f5f5f5;     border-left: 5px solid #bfbfbf; padding: 0}
.tweet-box.ctt-box-design-6 p { font-size: 30px; font-family: 'Open Sans', sans-serif; font-weight: bold; line-height: 1.2; padding: 34px 36px 20px 36px; color: #333333; text-align: justify;}
.tweet-box.ctt-box-design-6 .click-to-tweet { font: 13px 'Open Sans', Verdana, sans-serif; font-weight: bold; text-transform: uppercase; color: #bfbfbf;  margin-left: 29px; padding: 20px 0px 30px 0px; border-top: 1px solid #dadada; width: 95%;}
.tweet-box.ctt-box-design-6 .click-to-tweet i { background-position: 0 -171px; width: 25px; height: 20px;}
.tweet-box.ctt-box-design-6:hover .click-to-tweet i { background-position: 0 -151px;}
.tweet-box.ctt-box-design-6:hover { border-left: 5px solid #2aa9e0}
.tweet-box.ctt-box-design-6:hover .click-to-tweet {     color: #2aa9e0;}

/*seventh box*/
.tweet-box.ctt-box-design-7 { text-decoration: none !important; width: 100%; box-sizing: border-box; display: block; border: none; padding: 0;}
.tweet-box.ctt-box-design-7 p { overflow: hidden; padding-bottom: 5px; margin: 0 !important; position: relative; line-height: 1.25;  color: #333333; font: 30px "Lato", Arial, sans-serif; line-height: 1.2; padding: 5% 5% 0 5%; position: relative; text-align: justify;}
.tweet-box.ctt-box-design-7 .click-to-tweet { font: 16px 'Lato', Arial, sans-serif; color: #bfbfbf; margin: 0px 5%; padding: 22px 0px 10px 0px; text-transform: none;    width: 90%; text-align: left;}
.tweet-box.ctt-box-design-7 .click-to-tweet i { background-position: 0 -151px; width: 25px; height: 20px;}
.tweet-box.ctt-box-design-7:hover p {     color: #2aa9e0;}
.tweet-box.ctt-box-design-7:hover .click-to-tweet {     color: #2aa9e0;}
.tweet-box.ctt-box-design-7 p:before {    content: ''; position: absolute; left: 5%; top: 0px; width: 60px; height: 5px; background-color: #bfbfbf;}
.tweet-box.ctt-box-design-7:hover p:before { background-color: #2aa9e0;}

/*eighth box*/
.tweet-box.ctt-box-design-8 { text-decoration: none !important;  width: 100%; box-sizing: border-box; display: block;  border: none; padding: 0; text-align: center;}
.tweet-box.ctt-box-design-8 p { font: 30px "Playfair Display", Georgia, serif; font-style: italic; line-height: 1.2; padding: 40px 5% 0; position: relative;    text-align: center; color: #333333;}
.tweet-box.ctt-box-design-8 p:before { content: ''; position: absolute;  left: 50%;top: 0px; width: 60px; height: 16px; margin-left: -30px; background: url("../images/sprite-twitter.png") no-repeat; background-position: 0 -44px;}
.tweet-box.ctt-box-design-8 .click-to-tweet { display: inline-block; font: 16px 'Playfair Display', Georgia, serif; color: #00b6e6; margin-top: 27px; padding: 9px 21px; border: 1px solid #00b6e6; border-radius: 20px; float: none; text-transform: none;}
.tweet-box.ctt-box-design-8:hover .click-to-tweet { color: #eb7260; border: 1px solid #eb7260;}
.tweet-box.ctt-box-design-8 .click-to-tweet i { background-position: 0 -299px;}
.tweet-box.ctt-box-design-8:hover .click-to-tweet i { background-position: 0 -472px;}

/*ninth box*/
.tweet-box.ctt-box-design-9 { padding:0; text-decoration: none !important; width: 100%; box-sizing: border-box; display: block; border: none;}
.tweet-box.ctt-box-design-9 p { font: 30px "Lato", Arial, sans-serif; font-weight: 900; line-height: 1.2; padding: 0 45px; position: relative; color: #333333;}
.tweet-box.ctt-box-design-9 .click-to-tweet { display: inline-block; font: 16px 'Lato', Arial, sans-serif; font-weight: 900; color: #2aa9e0; margin: 0px 45px;  padding-top: 22px; text-transform: none; float: none;}
.tweet-box.ctt-box-design-9:hover p { color: #2aa9e0;}
.tweet-box.ctt-box-design-9 p:before { content: ''; position: absolute; left: 0; top: 0px; width: 23px; height: 21px; background: url("../images/sprite-twitter.png") no-repeat; background-position: 0 -277px;}
.tweet-box.ctt-box-design-9 .click-to-tweet i { background-position: 0 -151px; width: 25px; height: 20px;}


/*tenth box*/
.tweet-box.ctt-box-design-10 { display: inline-block; transition: all 0.2s ease-out 0s; position: relative; background: #F5F5F5 none repeat scroll 0% 0%; padding: 21px 0px 20px; box-shadow: -1px 1px #CCC, -2px 2px #CCC, -3px 3px #CCC, -4px 4px #CCC, -5px 5px #CCC, -6px 6px #CCC, -7px 7px #CCC, -8px 8px #CCC, -9px 9px #CCC, -10px 10px #CCC; text-decoration: none; border-radius: 0px; border: 0px none; text-transform: uppercase;}
.tweet-box.ctt-box-design-10 p { padding-bottom: 0px !important; padding-top: 0px; font-size: 24px; line-height: 36px; transition: all 0.2s ease-out 0s; position: relative; color: #333; font-family: "Open Sans",sans-serif; display: inline-block; text-transform: uppercase; font-weight: 900; text-align: justify; padding: 0 28px;}
.tweet-box.ctt-box-design-10 .click-to-tweet { font-size: 14px; font-weight: 900;font-family: "Open Sans",sans-serif; color: #BFBFBF; float: left; margin: 0px 28px; padding-top: 12px;}
.tweet-box.ctt-box-design-10:hover { background: #2AA9E0 none repeat scroll 0% 0%; box-shadow: -1px 1px #1E8AB8, -2px 2px #1E8AB8, -3px 3px #1E8AB8, -4px 4px #1E8AB8, -5px 5px #1E8AB8, -6px 6px #1E8AB8, -7px 7px #1E8AB8, -8px 8px #1E8AB8, -9px 9px #1E8AB8, -10px 10px #1E8AB8;}
.tweet-box.ctt-box-design-10:hover p, .tweet-box.ctt-box-design-10:hover .click-to-tweet { color: #ffffff;}
.tweet-box.ctt-box-design-10 .click-to-tweet i { background-position: 0 -151px; width: 25px; height: 20px;}
.tweet-box.ctt-box-design-10:hover .click-to-tweet i{ background-position: 0 -241px;}


/*eleventh box*/
.tweet-box.ctt-box-design-11 {     background-color: #e8f6fb; padding: 0;}
.tweet-box.ctt-box-design-11 p { margin: 0 auto; font: 24px "Open Sans", Verdana, sans-serif; color: #7898a3; line-height: 1.5; padding: 5% 5% 4% 5%;}
.tweet-box.ctt-box-design-11 .click-to-tweet { display: block; padding: 10px; border-top: 1px solid #dadada; background: #f5f5f5; text-align: right; width: 100%; box-sizing: border-box;}
.tweet-box.ctt-box-design-11 .click-to-tweet .cta-pr {     display: inline-block; font: 15px 'Open Sans', Verdana, sans-serif; color: #ffffff; padding: 9px 17px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; background-color: #00b9e6; position: relative; text-transform: none;}
.tweet-box.ctt-box-design-11:hover { background-color: #c2e2ed;}
.tweet-box.ctt-box-design-11:hover .click-to-tweet .cta-pr { background-color: #009ec5;}
.tweet-box.ctt-box-design-11 .click-to-tweet .cta-pr i { background-position: 0 -486px; margin-right: 10px;}
.tweet-box.ctt-box-design-11 .click-to-tweet .cta-pr:before { content: ''; position: absolute; left: -57px; top: -6px; width: 48px;  height: 31px; background: url("../images/sprite-twitter.png") 0 0 no-repeat; background-position: 0 -87px;}

/*twelth box*/
.tweet-box.ctt-box-design-12 { background-color: #fefefe; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border: 1px solid #b7b7b7; padding: 0;}
.tweet-box.ctt-box-design-12 p { display: inline-block; padding: 3% 3% 3% 2.2em; position: relative; font: 28px "Lato", Arial, sans-serif; font-style: italic; color: #363636;}
.tweet-box.ctt-box-design-12 .click-to-tweet { display: block; padding: 20px 10px;     border-top: 1px solid #b7b7b7;    border-bottom-left-radius: 5px;    border-bottom-right-radius: 5px;  background: #f8f8f8; text-align: right;   margin-top: 10px; width: 100%; box-sizing: border-box; text-transform: none;}
.tweet-box.ctt-box-design-12 .click-to-tweet .cta-pr {     display: inline-block; font: 15px 'Open Sans', Verdana, sans-serif; color: #ffffff; padding: 9px 17px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; background-color: #00b9e6; position: relative;}
.tweet-box.ctt-box-design-12:hover .click-to-tweet .cta-pr { background-color: #009ec5;}
.tweet-box.ctt-box-design-12 p:before { content: "“"; position: absolute; top: 0; left: 0.1em; font-size: 3.5em; font-family: 'Liberation Sans', Arial, sans-serif; font-weight: 300; color: #676c6e;}

/*author-first-inner box*/
.author-first-inner { background-color: #f9f9f9; border-left: 2px solid #efefef; border-right: 2px solid #efefef; border-bottom: 2px solid #dadada; border-radius: 10px; padding: 5% 2.5% 5% 5%;}
.author-first-inner p { font: 24px "Montserrat", Arial, sans-serif; color: #272727;}

/*author-second-inner box*/
.author-second-inner { background: radial-gradient(circle at 0 100%, transparent 14px, #f1f1f1 15px), radial-gradient(circle at 100% 100%, transparent 14px, #f1f1f1 15px), radial-gradient(circle at 100% 0, transparent 14px, #f1f1f1 15px), radial-gradient(circle at 0 0, transparent 14px, #f1f1f1 15px); background-position: bottom left, bottom right, top right, top left; background-size: 51% 51%;  background-repeat: no-repeat; padding: 5% 6.5% 5% 5%;}
.author-second-inner p { font-size: 24px; margin: 7px 0 35px; font: 24px "Playfair Display", Georgia, serif;font-style: italic; text-align: justify;}
.tweet-box.ctt-box-design-10:hover { background: #2AA9E0 none repeat scroll 0% 0%; box-shadow: -1px 1px #1E8AB8, -2px 2px #1E8AB8, -3px 3px #1E8AB8, -4px 4px #1E8AB8, -5px 5px #1E8AB8, -6px 6px #1E8AB8, -7px 7px #1E8AB8, -8px 8px #1E8AB8, -9px 9px #1E8AB8, -10px 10px #1E8AB8;}
.tweet-box.ctt-box-design-10:hover p, .tweet-box.ctt-box-design-10:hover .click-to-tweet { color: #ffffff;}


/*changes 3-2-16*/
.ctt_img_container { width: 100%; margin: 0 auto; overflow: hidden; position: relative;}
.ctt_img_container img { width: 100%; margin: 0 auto;}

.click_image .click_image_link { height: 20px; padding: 1px 8px 1px 6px; background-color: #1b95e0; border-radius: 3px; -webkit-border-radius: 3px; font: 11px/20px "Helvetica Neue", Arial, sans-serif; font-weight: 500; color: white; display: inline-block; vertical-align: top; text-decoration: none; border-bottom: 0;}
.click_image .click_image_link:hover { background-color: #0c7abf;}
.click_image .click_image_link span.click_action { margin-left: 6px;}
.click_image .click_image_link i { display: inline-block; background: url("../images/sprite-twitter.png") no-repeat; background-position: 0 -383px; width: 14px; height: 10.5px; position: relative; top: 5px;vertical-align: top;}

.click_image { margin: 20px auto; max-width: 100%; position: relative; overflow: hidden; line-height: 0.8; display: inline-block; width: 80%;}
.click_clearfix.aligncenter { text-align: center;}
.click_image_template_1 .click_click_to_tweet, .click_image_template_1 .click_click_to_tweet.position_center { position: absolute; display: inline-block; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.click_image_template_2 .click_click_to_tweet, .click_image_template_5 .click_click_to_tweet, .click_image_template_6 .click_click_to_tweet { padding: 10px; text-align: left;}
.click_image_template_3 { border: 1px solid #dddddd; text-align: left;}
.click_image_template_3 .click_click_to_tweet, .click_image_template_4 .click_click_to_tweet { padding: 13px 10px 10px 10px; display: inline-block; width: 100%; box-sizing: border-box}
.click_image_template_3 .ctt_action, .click_image_template_4 .ctt_action { font: 18px "Lato", Arial, sans-serif; font-weight: 400; position: relative;     color: #444; margin-left: 35px;}
.click_image_template_3 .ctt_action:before, .click_image_template_4 .ctt_action:before { content: ""; position: absolute; top: 5px;left: -32px; width: 26px; height: 11px;  background: url("../images/sprite-twitter.png"); background-position: 0 -372px; display: inline-block;}
.click_image_template_4 .click_click_to_tweet { background: #000; text-align: left; color: #fff;}
.click_image_template_4 .ctt_action { color: #fff;}
.click_image_template_4 .ctt_action:before { background-position: 0 -507px;}
.click_image_template_5 .click_image_link:hover { background: #0099d3; background: -moz-linear-gradient(top, #0099d3 0%, #00aedd 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0099d3), color-stop(100%, #00aedd)); background: -webkit-linear-gradient(top, #0099d3 0%, #00aedd 100%); background: -o-linear-gradient(top, #0099d3 0%, #00aedd 100%); background: -ms-linear-gradient(top, #0099d3 0%, #00aedd 100%); background: linear-gradient(to bottom, #0099d3 0%, #00aedd 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0099d3", endColorstr="#00aedd",GradientType=0 );}
.click_image_template_5 .click_image_link { background: #00acee; background: -moz-linear-gradient(top, #00acee 0%, #00bdf2 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00acee), color-stop(100%, #00bdf2)); background: -webkit-linear-gradient(top, #00acee 0%, #00bdf2 100%); background: -o-linear-gradient(top, #00acee 0%, #00bdf2 100%); background: -ms-linear-gradient(top, #00acee 0%, #00bdf2 100%); background: linear-gradient(to bottom, #00acee 0%, #00bdf2 100%);    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00acee", endColorstr="#00bdf2",GradientType=0 ); border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; padding: 9px 11px; border-bottom: 3px solid #028ec4; height: auto;}
.click_image_template_5 .click_image_link { margin-left: 8px; font: 12px "Open Sans", Arial, sans-serif; font-weight: bold; color: white;}
.click_image.click_image_template_5 .click_image_link i { background-position: 0 -486px; width: 16px; height: 14px; position: relative; top: 5px;  vertical-align: top;}

.click_image.click_image_template_6 .click_image_link { margin-left: 8px; font: 16px "Lato", Arial, sans-serif; font-weight: 500; color: black; background: none; height: auto;}
.click_image.click_image_template_6 .click_image_link i { background-position: 0 -299px; width: 16px; height: 14px;}
/*.click_image.click_image_template_6 .click_image_link:hover { color: #2aa9e0; text-decoration: underline;}*/
.click_image.click_image_template_6 .click_image_link:hover  span.click_action{ color: #2aa9e0; text-decoration: underline;}


/*hint box*/
.hint-box { text-align: justify;}
.box-design.hint-box { border: 0; padding: 0;}
.hint-box-container p {  font-size: 14px; text-align: justify;color: #7c7c7c; font-family: "Open Sans",sans-serif;}
.hint-box-container .background-type .click-text_hint, .background-type .click-text_hint {     background-color: rgba(132, 255, 255, 0.5); line-height: 1.8;    border-radius: 3px;     border: 1px solid #e7e7e7; color: #0073aa;}
.hint-box-container .background-type:hover .click-text_hint, .background-type:hover .click-text_hint { background-color: #84ffff;  color: #7c7c7c;}
.hint-box-container .background-type.color_1 .click-text_hint, .background-type.color_1 .click-text_hint {     background-color: rgba(238, 255, 65, 0.5);}
.hint-box-container .background-type.color_1:hover .click-text_hint, .background-type.color_1:hover .click-text_hint {     background-color: #eeff41;}
.hint-box-container .background-type.color_2 .click-text_hint, .background-type.color_2 .click-text_hint { background-color: rgba(238, 238, 238, 0.5);}
.hint-box-container .background-type.color_2:hover .click-text_hint, .background-type.color_2:hover .click-text_hint { background-color: #eeeeee;}
.hint-box-container .underline-type:hover .click-text_hint, .click_hint .underline-type:hover .click-text_hint {     color: #00b6e6;}
.hint-box-container a { text-decoration: none;}
.hint-box-container i, .click-text_hint i { display: inline-block; width: 16px; height: 14px; background: url("../images/sprite-twitter.png") no-repeat; background-position: 0px -299px; margin-left: 7px; vertical-align: middle;}
.hint-box-container .underline-type, .click_hint .underline-type { text-decoration: underline;}
.inpop-up .underline-type{text-decoration: none;}
.hint-box-container .underline-type span, .click_hint .underline-type span { line-height: 1.8; color: #0073aa;}
.hint-box-container .highlighted-type:hover span, .click_hint .highlighted-type:hover span {     background-color: #ffff00;   color: #7c7c7c; -webkit-transition: all 0.2s ease-in-out;   -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}


/*font-size variant*/
.tweet-box.ctt-box-design-1 p.ctt-font-large, .tweet-box.ctt-box-design-2 p.ctt-font-large, .tweet-box.ctt-box-design-3 p.ctt-font-large, .tweet-box.ctt-box-design-6 p.ctt-font-large, .tweet-box.ctt-box-design-7 p.ctt-font-large, .tweet-box.ctt-box-design-8 p.ctt-font-large, .tweet-box.ctt-box-design-9 p.ctt-font-large {     font-size: 34.2px; line-height: 1.2;}
.tweet-box.ctt-box-design-1 p.ctt-font-small, .tweet-box.ctt-box-design-2 p.ctt-font-small, .tweet-box.ctt-box-design-3 p.ctt-font-small, .tweet-box.ctt-box-design-6 p.ctt-font-small, .tweet-box.ctt-box-design-7 p.ctt-font-small, .tweet-box.ctt-box-design-8 p.ctt-font-small, .tweet-box.ctt-box-design-9 p.ctt-font-small { font-size: 25.8px; line-height: 1.2;}

.tweet-box.ctt-box-design-4 p.ctt-font-large, .tweet-box.ctt-box-design-5 p.ctt-font-large, .tweet-box.ctt-box-design-10 p.ctt-font-large, .tweet-box.ctt-box-design-11 p.ctt-font-large {     font-size: 27.36px; line-height: 1.2;}
.tweet-box.ctt-box-design-4 p.ctt-font-small, .tweet-box.ctt-box-design-5 p.ctt-font-small, .tweet-box.ctt-box-design-10 p.ctt-font-small, .tweet-box.ctt-box-design-11 p.ctt-font-small { font-size: 20.64px; line-height: 1.2;}
.tweet-box.ctt-box-design-6 a, .tweet-box.ctt-box-design-7 a, .tweet-box.ctt-box-design-8 a, .tweet-box.ctt-box-design-9 a, .tweet-box.ctt-box-design-10 a, .tweet-box.ctt-box-design-11 a, .tweet-box.ctt-box-design-12 a { text-decoration: none;}

/*new changes 5-feb-16*/
#main .entry-content .tweet-box a { border-bottom: 0 !important;}
#main .tweet-box { margin: 25px auto 40px; position: relative; display: inline-block !important; width: 100%; box-sizing: border-box;}
#main .tweet-box::after { content: ""; display: inline-block; width: 100%; height: 1px; border-bottom: 1px dashed #dbdbdb;bottom: -33px; position: absolute; left: 0;}





/*image section variants*/
.btn_large .click_action { margin-left: 8px; font: 13px/26px "Helvetica Neue", Arial, sans-serif;}
.click_image .click_image_link.btn_large { height: 30px; padding: 9px 15px 3px 15px;}
.click_image .click_image_link.btn_large span.click_action { font-size: 17px;}
.click_image .click_image_link.btn_large i { background-position: 0 -486px; width: 16px; height: 14px; top: 5px;}
.click_click_to_tweet.position_bottom_right { bottom: 20px; right: 20px; left: auto; top: auto; transform: none;}
.click_click_to_tweet.position_top_right { bottom: auto; right: 20px; left: auto; top: 20px; transform: none;}

.click_image_template_2 .click_click_to_tweet.position_center, .click_image_template_5 .click_click_to_tweet.position_center, .click_image_template_6 .click_click_to_tweet.position_center { text-align: center;}
.click_image_template_2 .click_click_to_tweet.position_left { text-align: left;}
.click_image_template_2 .click_click_to_tweet.position_right, .click_image_template_3 .click_click_to_tweet.position_right, .click_image_template_4 .click_click_to_tweet.position_right, .click_image_template_5 .click_click_to_tweet.position_right, .click_image_template_6 .click_click_to_tweet.position_right { text-align: right;}
.click_image_template_3 .click_click_to_tweet.position_right .click_image_link, .click_image_template_4 .click_click_to_tweet.position_right .click_image_link { float: right;}
.click_image_template_3.click_image .click_image_link.btn_large + .ctt_action, .click_image_template_4.click_image .click_image_link.btn_large + .ctt_action { top: 4px;}
.click_image_template_3 .click_click_to_tweet.position_right .ctt_action, .click_image_template_4 .click_click_to_tweet.position_right .ctt_action { margin-right: 38px; margin-left: 0;}
.click_image_template_3 .click_click_to_tweet.position_right .ctt_action:before, .click_image_template_4 .click_click_to_tweet.position_right .ctt_action:before { left: auto; right: -32px; background-position: 0 -529px;}
.click_image_template_4 .click_click_to_tweet.position_right .ctt_action:before { background-position: 0 -518px;}
.ctt_img_container.ctt_hover_light:hover { opacity: 0.3; -webkit-transition: all 0.2s ease-out;  -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.ctt_hover_dark:before {     content: '';  display: block; position: absolute; top: 0; left: 0;right: 0; bottom: 0; width: 100%; height: 100%; background-color: black;  opacity: 0;filter: alpha(opacity=0);}
.ctt_img_container.ctt_hover_dark:hover:before { opacity: 0.4; filter: alpha(opacity=40); -webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;  -o-transition: all 0.2s ease-out;  transition: all 0.2s ease-out;}


.ctt_hover_pattern:before {     content: '';  display: block; position: absolute; top: 0; left: 0;right: 0; bottom: 0; width: 100%; height: 100%; background: url(../images/pattern.png) repeat center center;  opacity: 0;filter: alpha(opacity=0);}
.ctt_img_container.ctt_hover_pattern:hover:before { opacity: 0.7; filter: alpha(opacity=70); -webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;  -o-transition: all 0.2s ease-out;  transition: all 0.2s ease-out;}
.ctt_hover_zoom:hover img { transform: scale(1.3);  -webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;  -o-transition: all 0.2s ease-out;  transition: all 0.2s ease-out;}


.click_image .click_image_link, .author-third-inner .thumb { box-sizing: unset !important;}

#recomnded-theme { display: block; width: 86%; margin: 0px auto; min-width: 0px; width: 100%;}
#recomnded-theme h3{ margin-bottom: 20px;}
/*NIK*/
.click_image.click_image_template_6 .click_image_link.btn_large i { background-position: 0 -191px; width: 32px; height: 25px; top: 0px;}
.author-third-inner blockquote.style1 p.ctt-font-small { font-size: 20px;}
.author-third-inner blockquote.style1 p.ctt-font-large { font-size: 30px;}

.author-third-inner .tw-ico { background: url("img/twitter-single.png") no-repeat center center / 100% auto; display: inline-block; position: relative; top: 4px; margin-left: 5px;}
.author-third-inner .ctt-font-original .tw-ico { width: 20px; height: 20px;}
.ctt-font-small .tw-ico, .author-third-inner .ctt-font-small .tw-ico { width: 16px; height: 15px;}
.ctt-font-large .tw-ico, .author-third-inner .ctt-font-large .tw-ico { width: 22px; height: 20px;}


/*Changes 31-5-16*/
.author-first-inner .tweet-text p.ctt-font-small { font-size: 20px;}
.author-first-inner .tweet-text p.ctt-font-large { font-size: 30px;}
.author-second-inner .tweet-text p.ctt-font-small { font-size: 20px;}
.author-second-inner .tweet-text p.ctt-font-large { font-size: 30px;}
.tweet-box.ctt-box-design-5 p { width: 100%; box-sizing:border-box;}


/*changes 17-6-16*/
.tweet-box a:focus { box-shadow: none; outline: 0;}
.tweet-box.ctt-box-design-12 p.ctt-font-small { font-size: 24px;}
.tweet-box.ctt-box-design-12 p.ctt-font-large { font-size: 32px;}