    #select-template{
    margin-bottom: 20px
}
.dp-head{
    background: #63B7E6;
    color: #fff;
    font-size: 19px;
    overflow: hidden;
    vertical-align: middle;
    padding: 5px;
      margin-bottom: 15px;
    cursor: pointer ;
}
.dp-head span{
    margin-top: 5px;
    float: left;
}
.dp-head img{
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.select-template-editor{
    list-style: none;
    padding: 0;
    margin: 0
}
.select-template-editor li{
    margin-right: 10px;
    display: inline-block
}
.select-template-editor li img{
    border:1px solid #eee
}
.select-template-editor li input{
    display: none
}
.select-template-editor li:active img,.select-template-editor li.active img{
        border: 3px solid #FC5C5C;
    border-radius: 4px;
}
.dp-wrapper-available-element{
    display: inline-block;
    width: 30%;
    min-width: 250px;
    vertical-align: top;
}
.dp-wrapper-editor-zone{
    display: inline-block;
    width: 68%;
    min-width: 720px;
    vertical-align: top;
}
#poststuff .dp-wrapper-available-element h3{
    padding: 12px 12px;
    margin: 0;
    background: #474747;
    color: #ffffff;
}
.dp-head-select{

}
.dp-head-editor{
    margin-bottom: 0;
}
.dp-available-element{
    margin: 0;
    padding: 0 0 20px 0;
    border: 1px dashed #dddddd;
}
.dp-available-element li{
    background: #f9f9f9;
    color: #474747;
    border-bottom: 1px solid #eaeaea;
    margin: 0;
}
.dp-controle{
    background: #FFFFFF;
    color: #474747;
    font-size: 14px;
    padding: 8px 12px;
    margin: 0px 0 20px;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
}
.dp-wrapper-editor-zone .dp-controle .button{
    color: #FFFFFF;
    border:0;
    background: none repeat scroll 0% 0% #fc5c5c;
    box-shadow: none;
    vertical-align: top;
}
.dp-available-element .dp_element-body{
    display: none;
}
.dp-use-element{
    margin: 0;
    width: 96%;
    padding: 20px;
    border: 1px dashed #dddddd;
    display: inline-block;
    min-height: 200px;
}
.dp-use-element .dp_element-head .arrow-down{
        border-top: 5px solid #ffffff;
}
.dp-use-element .dp_element-head{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.dp-use-element li{
    background: #474747;
    color: #474747;
    border-bottom: 1px solid #D0D0D0;
    margin: 10px 0 0;
}
.dp-available-element li.ui-sortable-placeholder,.dp-use-element li.ui-sortable-placeholder{
    height: 40px;
    border: 2px dashed #cccccc;
    background: #dfdfdf;
}
.dp_element-head{
    padding: 10px 10px 10px 32px;
    background: url("../../images/template-editor/template-editor-drag.png") 6px 12px no-repeat;
    cursor: move;
}
.dp-use-element li .dp_element-body{
    border-top: 1px solid #eee;
    padding-top: 10px;
    background: #F1F1F1;
    padding-bottom: 10px;
}
.dp_element-wrapper{
    clear: both;
    display: block;
    padding-bottom: 5px;
}
.dp_element-wrapper .dp_element-label{
    width: 120px;
    text-align: right;
    display: inline-block;
}
.dp-use-element li .wp-color-result{
    margin-bottom: 0;
}
.dp-available-element .dp_element-wrapper .dp_element-label {
    width: 100px;
    text-align: right;
    display: inline-block;
        vertical-align: middle;
}
.dp_element-wrapper input[type="text"],.dp_element-wrapper input[type="number"],.dp_element-wrapper select{
    min-width: 70%
}
.dp-available-element li .dp_element-body {
    border-top: 1px solid #eee;
    background: #F1F1F1;
    padding: 20px 10px 10px;
}
.arrow_box {
    position: relative;
    background: #474747;
}
.arrow_box:after {
    top: 100%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(71, 71, 71, 0);
    border-top-color: #474747;
    border-width: 10px;
    margin-left: -10px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #474747;
    float: right;
    margin-top: 7px;
}

/*
Option
*/
.dp_option-wrapper{
    clear: both;
    display: block;
    margin-bottom: 20px;
}
.dp_option-label{
    width: 15%;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
    margin: 0 20px 0px 0;
}
.dp_option-body{
    display: inline-block;
    width: 75%;
    text-align: left;
}
.dp-wrapper-filterProduct{
    margin-top: 20px;
}
.dp-wrapper-customizeLayout{
    
}
.dp-wrapper-customizeLayout .dp_option-wrapper{

    width: 20%;
    clear: none;
    display: inline-block;
}
.dp-wrapper-customizeLayout .dp_option-wrapper .dp_option-label {
  width: 100%;
  text-align: left;
  display: inline-block;
  margin-right: 20px;
  margin: 0 20px 0px 0;
}
.dp-wrapper-customizeLayout .dp_option-wrapper select{
    width: 90%;
}
#dp_template_id .option-box {
        /* text-align: center; */
           padding: 20px 10px 0;
}
#dp_template_id .option-title {
    font-size: 24px;
    font-weight: bold;
}
#dp_template_id .option-box textarea{
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.for-grid,.for-list,.for-box,.for-table,.for-gridCarousel,.for-boxCarousel{
    display: none
}
.layout-grid .for-grid,.layout-list .for-list,.layout-box .for-box,.layout-table .for-table,.layout-gridCarousel .for-gridCarousel,.layout-boxCarousel .for-boxCarousel{
    display: block;
    background: #D0E9FF
}