/* 	=============================
   	Quickview Styles 
   	============================= */

	.hide {
		display: none;
	}
	
	.mobView {
		display: none;
	}
	
	.mobHide {
		display: block;
	}
	input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
	.dp_quickview_button{
		height: 33px;
		width: 33px;
		margin: 0;
		position: relative;
		z-index: 20;
	}
        .dpquickview{
            position: absolute;
            cursor: pointer;
            right: 0;
            bottom: 0;
            opacity: 0.1;
            margin: 0;
            padding: 0;
            line-height: normal;
            text-align: right;
            transition: opacity .5s ease-out;
            -moz-transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -o-transition: opacity .5s ease-out;
        }
        .dpquickview:hover{
            opacity: 0.9
        }
	.dp_quickview {
		position: relative;
		background: #FFF;
		padding: 20px;
		width: auto;
		max-width: 900px;
		margin: 20px auto; 
		overflow: hidden;
	}
		.dp_quickview h1 {
			line-height: 1.2em;
			margin: 0;
			padding: 0;
		}
		.dp_quickview .images {
			width: 57%;
                        height: auto;
                        float: left;
                        margin-right: 10px;
		}
			.dp_quickview .images img.attachment-shop_single {
				width: 75%;
                                height: auto;
                                float: left;
                                margin-right: 10px;
			}
		.dp_quickview .summary {
			width: 40%;
			float: right;
			display: inline;
                        clear: none;
                        padding: 0;
		}
                .dp_quickview .stock{ float: left;margin-right: 20px;}
		
		.dp_quickview .thumbnails {
			width: 20%;
			overflow: hidden;
			margin: 0px 2% 0;
                        height: 386px;
		}
			.dp_quickview .thumbnails a {
				width: 100%;
				margin: 0 2% 4%;
                                opacity: 0.5;
                                display: block;
			}
			.dp_quickview .thumbnails a:first-child {
				opacity: 1;
			}
                        .dp_quickview .thumbnails.first{
                            margin-top: 0
                        }
				.dp_quickview .thumbnails a img {
					width: 100%;
					height: auto;
				}
		
		.dp_quickview .summary a.viewProduct {
                    margin: 12px 0 0;
                    float: right;
                    background: #F8F8F8;
                    padding: 8px 15px;
                    color: #666;
                    text-decoration: none;
                        border: 0;
		}
                .dp_quickview .summary .product_meta {
                    margin-top: 10px;
                }
                .dp_quickview .quantity{
                    margin-bottom: 7px
                }
                .dp_quickview .quantity .stock{
                    float: left;
                    margin-right: 10px;
                }
                .dp_quickview .product_meta{
                    font-size: 12px;
                    color: #666;
                    line-height: 20px;
                    margin-top: 10px;
                    width: 50%;
                    float: left;
                }
                .dp_quickview .product_meta a{
                    font-size: 12px;
                    color: #333;
                    text-decoration: none
                }
		
	@media all and (max-width: 800px) {
		
		.dp_quickview .images {
			width: 40%;
		}
		.dp_quickview .summary {
			width: 55%;
		}
		
	}
	
	@media all and (max-width: 600px) {
	
		.mobView {
			display: block;
		}
		
		.summary h1,
		.summary .price {
			display: none;
		}
		
		.dp_quickview .images,
		.dp_quickview .summary {
			float: none;
			width: 100%;
		}
		
		.dp_quickview .thumbnails {
			margin-bottom: 20px;
		}
		
	}