/* ----------------------------------------------------------------

RMIT Connected website (full width) template styles 

Author:			Kieran Wilson, Web Services and Information Policy
Version:		1.5
Last updated:	20/01/2014
Validated as:	CSS2

Please read the release notes for more information about this
template. For more information, contact Web Services and
Information Policy.

	Table of contents
	-----------------
	DO-NOT-MODIFY-THESE-SECTIONS
		FONT-FACE
		GLOBAL
		BANNER
		CONTENT
		FOOTER
	ADD-YOUR-STYLES-TO-THIS-SECTION

---------------------------------------------------------------- */

/* --------- DO-NOT-MODIFY-THESE-SECTIONS --------- */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial,Serif;
	background-color: #DCDCD6;
	background: url('/images/rmit/5full/background.png') no-repeat scroll center 150px #DCDCD6;
}

.hidden {
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

/* Sticky footer styles */
#wrapper {
	min-height: 100%;
	background: #FFFFFF;
}

#main {
	overflow: auto;
	padding-bottom: 75px; 		/* Equal to height of footer */
	background-color: #FFFFFF;
}

#footer  {
	position: relative;
	margin: 0 auto;
	margin-top: -75px; 			/* Negative footer height */
	height: 75px;
	clear: both;
}

body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

/* --------- FONT-FACE --------- */
/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */

@font-face {
  font-family: 'Museo300';
  src: url('/fonts/museo300.eot');
  src: url('/fonts/museo300.eot?#iefix') format('embedded-opentype'),
       url('/fonts/museo300.woff') format('woff'),
       url('/fonts/museo300.ttf') format('truetype'),
       url('/fonts/museo300.svg#Museo300') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'Museo500';
  src: url('/fonts/museo500.eot');
  src: url('/fonts/museo500.eot?#iefix') format('embedded-opentype'),
       url('/fonts/museo500.woff') format('woff'),
       url('/fonts/museo500.ttf') format('truetype'),
       url('/fonts/museo500.svg#Museo500') format('svg');
  font-weight: normal;
}


/* --------- GLOBAL --------- */

#globalWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: #242424;
}

#globalBar {
	background:#242424;	
	color:#D6D6D6;
	position:relative;
	height: 40px;
	padding: 0;
}

#globalNavItems {
	margin: 0 auto;
}
	
#globalBar a {
	font-size: 12px;
	color: #ADADAD;
	text-decoration: none;
	font-weight: bold; 
}
	
#globalBar a:hover, #globalBar a:focus, #globalBar a:active {
	text-decoration: none;
	color: #FFFFFF;
}

#globalBar .accountButtons {
	font-size: 12px;
	font-weight: bold;
	float: right;
	
}

#globalBar .accountButtons div {
	float: left;
	margin-left: 5px;
}

#globalBar .accountButtons a {
	display: block;
	padding: 13px 10px 12px 10px;
}

#globalBar .accountButtons a:hover{
	background-color: #3B3B3B;
}

#loggedInUser {
	display: block;
	border-right: 1px solid #585858;
	font-weight: normal;
	margin: 8px 0px;
	padding: 4px 10px 4px 21px;
	background: url('/images/rmit/5full/user.png') no-repeat left 4px;
}

#exitButton a:hover {
	background-color: transparent !important;
}

/* Country selector styles */

ul.dropMenu {
	background-color:#242424;
	float: left;
	position: relative;
	z-index: 100;
	list-style: none;
}

#globalBar .dropMenu a {
	color: #ADADAD;
	padding-left: 10px;
	padding-right: 50px;
	line-height: 40px;
}

#globalBar .dropMenu a:hover, #globalBar .dropMenu a:active, #globalBar .dropMenu a:focus {
	text-decoration: none;
	color: #FFFFFF;
}

.dropMenu>li {
	position: relative;
	cursor: pointer;
}

.dropSubmenu { 
	z-index: 2000;
	left: -9999px;
	top: auto;
	position: absolute;
	background-color:#242424;
	list-style: none;
	padding-left: 0px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.dropSubmenu li {
	border-top: 1px solid #333333;
	border-top: 1px solid #242424;
}

.dropMenu .hovermenu * { 
	display: block;
	left: 0px;
}

.dropMenu>li { 
	margin-left: 0px;
}

.dropMenu li li:focus {
	left: 0px;
}

.dropMenu>li:hover .dropSubmenu { 
	z-index: 1000;
}

.dropMenu .dropSubmenu li { 
	padding-left: 0px;
}

.dropMenu li.current>a { 
	text-decoration: underline;
}

#firstDropMenu {
	background: #242424 url(/images/rmit/5full/arrowDown.png) no-repeat 125px 16px;
	text-decoration: none !important;
	cursor: default;
}

#firstDropMenuLink {
	text-decoration: none !important;
	cursor: default;
}

#siteSections, .dropMenu {
	text-transform: uppercase;
	margin: 0;
	float: left;
	list-style: none;
	padding: 0;
}

#siteSections li {
	float: left;
	margin-top: 10px;
	border-left: 1px solid #585858;
	vertical-align: middle;
}

#siteSections a {
	display: block;
    padding: 3px 15px;
}



/* --------- BANNER --------- */

#banner {
	width: 100%;
	height: 81px;
	background-color: #DCDCD6;
}

h1, .h1 {
    font-family: Museo300, Arial, Serif;
	font-weight: normal;
	font-size: 28px;
}

#logoContainer {
	padding: 8px 20px 10px 12px;
	float: left;
}

#logo {
	float: left;
	margin-top: 7px;
}

#appName {
	float: left;
	border-left: 1px solid #AAAAAA;
	color: #222222;
	padding-left: 20px;
	margin-left: 20px;
	line-height: 30px;
	margin-top: 17px;
}

#appName a:link, #appName a:visited {
	color: #222222;
	text-decoration: none;
}

#appName a:hover {
	text-decoration: underline;
}

#skipDiv {
	position: relative;
	top: 0;
	left: 0;
}

#skipToContent {
	font: 12px Arial,Verdana,sans-serif;
	background-color: #C7C7C3;
	position: absolute;
	left: -9999px;
	top: 66px;
	z-index: 5000;
	display: block;
	color: #2C2C2C !important;
	font-weight: bold;
	text-transform: uppercase;
	border: 0px !important;
	padding: 4px 10px 4px 10px !important;
	padding-left: 15px;
	padding-right: 15px;
}

a#skipToContent:focus, a#skipToContent:hover {
	text-decoration: underline;
	left: 640px;
}

#backLink {
	background: url('/images/rmit/5full/arrowRight.png') no-repeat left center;
	font-weight: bold;
	float: right;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 30px;
	margin-right: 20px;
	padding-left: 15px;
}

#backLink a:link, #backLink a:visited {
	color: #61615E;
	text-decoration: none;
}

#backLink a:hover {
	text-decoration: underline;
}


/* --------- CONTENT --------- */

#contentContainer {
	background: #FFFFFF;	
	width: 100%;
	height: 100%;
}

#contentArea {
	padding: 20px;
}


/* --------- FOOTER --------- */

#footer {
	position: relative;
	color: #464646;
	font-size: 12px;
	background: #DCDCD6;
	width: 100%;
	line-height: 17px;
}

#footerContent {
	padding: 20px;
}

#footer p {
	margin: 0;
	padding: 0;
}

#footer a {
	padding-left: 9px;
	margin-right: 3px;
	border-left: 1px solid #464646;
}

#footer a:link, #footer a:visited {
	color: #464646;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

.pipeDivider {
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid #464646;
}

/* --------- ADD-YOUR-STYLES-TO-THIS-SECTION --------- */

#custom_filter_form1 {
    max-width:1400px; /* w/r 213831 #25 */
}
#contentArea {
    max-width:1400px; /* w/r 213831 #25 */
}

#rmithead {
	margin: 0 30px;
	height: 102px;
	padding: 0;	
	background: #aa0000 url(/images/rmit/mams/5pv4m5kfk11uz.gif) left 50% no-repeat;
}

#rmitlogo {
    padding: 26px 70px 29px 43px;
	background: #fff;
}

#rmittopnav {
	margin: 0 30px;
	padding: 0;	
	height: 20px;
	position: relative;
	background: #353535 url(/images/rmit/mams/q3nvrsrvp2ihz.gif) bottom left no-repeat;
	font-size: 0.7em;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
}

#rmittopnav a:link, #rmittopnav a:visited {
	color: #fff;
	text-decoration: none;
	display: inline;
}

#rmittopnav a:active, #rmittopnav a:focus, #rmittopnav a:hover {
	color: #fff;
	text-decoration: underline;
	display: inline;
}

#rmittopbranding {
	margin: 0;
	padding: 0;	
	height: 20px;
	background: url(/images/rmit/mams/lsohrsrvp2ihz.gif) bottom right no-repeat;
}

.rmittop1 {
	position: absolute;
	top: 3px;
	left: 240px;
	margin-right: 8em;
}

.rmittop2 {
	position: absolute;
	top: 3px;
	right: 50px;
}

a.rmitskip {
	padding-right: 20px;
	background: #353535;
}

a.rmittopbg {
	border-right: 1px solid #cc0000;
	padding: 0 9px 0 8px;
	background: #353535;
}

a.rmittoplast {
	padding-right: 9px;
	padding-left: 8px;
	background: #353535;
}	

.listrecord td:nth-child(3) {
    min-width: 50%;
    max-width: 400px;
}
